<ion-label class="ion-no-margin ion-no-padding custom-semi-bold custom-h2">
  {{header}}
</ion-label>
<ion-grid class="ion-no-padding ion-no-margin">
  <ion-row class="ion-no-padding ion-no-margin w-100" *ngFor="let item of list; let i = index">
    <ion-col class="w-100">
      <app-check-box [(value)]="status[i]" [label]="item" [disabled]="disabled" (onChange)="checkBoxClick(i)"></app-check-box>
    </ion-col>
  </ion-row>
</ion-grid>