@media only screen 
and (max-device-width : 300px) {

    .title-bar {
        border-bottom: 1px solid var(--black4);
        padding-bottom: 10px;
        padding-top: 10px;
    }

}

@media only screen 
and (min-device-width : 300px) 
and (max-device-width : 370px) {

    .title-bar {
        border-bottom: 1px solid var(--black4);
        padding-bottom: 10px;
        padding-top: 10px;
    }

}

@media only screen 
and (min-device-width : 370px) {
    
    .title-bar {
        border-bottom: 1px solid var(--black4);
        padding-bottom: 16px;
        padding-top: 16px;
    }
}