<div class="title-bar container-padding-start container-padding-end bk-color-white">
  <ion-grid class="ion-no-padding ion-no-margin">
    <ion-row class="ion-no-padding ion-no-margin">
      <ion-col class="ion-no-padding ion-no-margin d-flex align-items-center" size="auto">
        <ion-icon class="custom-h1" [src]="leftArrow" (click)="goBack()"></ion-icon>
      </ion-col>
      <ion-col class="ion-no-padding ion-no-margin d-flex align-items-center justify-content-center">
        <ion-label class="custom-h4">{{title}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>      
</div>