
<ion-content class="container-padding">
  <ion-refresher slot="fixed" (ionRefresh)="getActiveSerialTasks($event)" style="z-index: 9999;">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngFor="let timeGroup of tasks; let i = index " class="h-auto">
    <div *ngFor="let activity of timeGroup.Content; let j = index;" >
      <div 
      *ngIf="showItems[i][j][0] === true"
      class="border-bottom"
      [ngClass]="{'container-padding-bottom': selectedActivity[timeGroup.TimeStamp + j] == true}">
        <div class="container-padding-top container-padding-bottom ion-no-margin d-flex align-items-center">
          <ion-grid class="ion-no-padding ion-no-margin">
            <ion-row class="ion-no-padding ion-no-margin ion-align-items-center">
              <ion-col class="ion-no-padding ion-no-margin">
                <ion-label class="ion-no-margin custom-h2" style="display: flex; flex-direction: column;">
                  <ion-label class="custom-h2 custom-semi-bold color-black1">{{activity.ActivityName}}</ion-label> 
                  <ion-label class="custom-h2 color-black3">{{activity.PatientsNumber}}
                                                          <span *ngIf="activity.PatientsNumber === 1">Patient</span>
                                                          <span *ngIf="activity.PatientsNumber > 1">Patienten</span>
                  </ion-label>
                </ion-label>
              </ion-col>
              <ion-col class="ion-no-padding ion-no-margin d-flex justify-content-center mr-2" size="auto">
                <ion-label class="custom-h2">{{timeGroup.TimeStamp | date: datetimeFormatService.timeFormat}}</ion-label> 
              </ion-col>
              <ion-col class="ion-no-padding ion-no-margin d-flex justify-content-center" size="auto">
                <ion-icon class="custom-h1 transition-duration-500" [ngClass]="{'rotated-180': selectedActivity[timeGroup.TimeStamp + j] == true}" 
                [src]="downArrow" (click)="selectActivity(timeGroup.TimeStamp + j)"></ion-icon> 
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      
        <div *ngIf="selectedActivity[timeGroup.TimeStamp + j] == true">
          <div *ngFor="let task of activity.Task; let k = index;">
            <ion-row *ngIf="showItems[i][j][k + 1] === true" class="ion-no-padding ion-no-margin pt-1 pb-1">
              <ion-col class="ion-no-padding ion-no-margin">
    
                <ion-card #meineCard class="item-card h-auto container-padding ion-no-margin d-flex align-items-center" 
                style="z-index: 11; right: 1px;" (click)="goToDocumentTask(task)">
                  <ion-grid class="ion-no-padding ion-no-margin">
                    <ion-row class="ion-no-padding ion-no-margin ion-align-items-center">
                      <ion-col class="ion-no-padding ion-no-margin">
                        <ion-label class="ion-no-margin custom-h2">
                          <ion-label class="custom-h2 color-black3">{{task.RoomName}}</ion-label>
                          <span class="color-black3" style="position: relative; top: -3px;"> . </span>
                          <ion-label class="custom-h2 custom-semi-bold color-black1">{{task.PatientName}}</ion-label>
                        </ion-label>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card>
                
    
              </ion-col>
            </ion-row>
          </div>
        </div>
      </div>
      

    </div>
  </div>

  <app-floating-action-button *ngIf="showRecorder" [screen]="screensEnum.Home" [context]="'Serial Tasks'"></app-floating-action-button>
</ion-content>
