<ion-header class="ion-no-border" *ngIf="CurrentSelectedTab != mainTabs.Settings">
  <ion-toolbar>

    <ion-grid class="no-padding-vertical">
      <ion-row class="ion-align-items-center no-padding-vertical">
        <ion-col class="no-padding-vertical">
          <ion-label *ngIf="CurrentSelectedTab === mainTabs.Patienten" class="custom-h1 bold ion-align-self-center">Patienten</ion-label>
          <ion-label *ngIf="CurrentSelectedTab === mainTabs.MeineAufgaben" class="custom-h1 bold ion-align-self-center">Meine Aufgaben</ion-label>
          <ion-label *ngIf="CurrentSelectedTab === mainTabs.SerialAufgaben" class="custom-h1 bold ion-align-self-center">Serienaufgaben</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="no-padding-vertical">
        <ion-col class="custom-h3 color-black2 no-padding-vertical" *ngIf="CurrentSelectedTab === mainTabs.Patienten" size="12">
          <ion-label>
            <ion-label id="tab-button-meine" [ngClass]="{'color-primary': selectedUpperPatientTab == 1}" (click)="patientTabClicked(secondaryTabs.my)">Meine</ion-label>
            <ion-label class="ion-margin"></ion-label>
            <ion-label id="tab-button-alle" [ngClass]="{'color-primary': selectedUpperPatientTab == 2}" (click)="patientTabClicked(secondaryTabs.all)">Alle</ion-label>
            <ion-label class="ion-margin"></ion-label>
            <ion-label id="tab-button-freie" [ngClass]="{'color-primary': selectedUpperPatientTab == 3}" (click)="patientTabClicked(secondaryTabs.free)">Freie</ion-label>

          </ion-label>
          
        </ion-col>
        <!-- aufgaben upper tabs-->
        <ion-col class="custom-h3 color-black2 no-padding-vertical" *ngIf="CurrentSelectedTab === mainTabs.MeineAufgaben " size="12">
          <ion-label>
            <ion-label id="tab-button-ungruppiert" [ngClass]="{'color-primary': selectedUpperPatientTab == 4}" (click)="patientTabClicked(secondaryTabs.ungrouped)">Ungruppiert</ion-label>
            <ion-label class="ion-margin"></ion-label>
            <ion-label id="tab-button-zimmer" [ngClass]="{'color-primary': selectedUpperPatientTab == 5}" (click)="patientTabClicked(secondaryTabs.room)">Zimmer</ion-label>
            <ion-label class="ion-margin"></ion-label>
            <ion-label id="tab-button-patienten" [ngClass]="{'color-primary': selectedUpperPatientTab == 6}" (click)="patientTabClicked(secondaryTabs.patient)">Patienten</ion-label>

          </ion-label>
          
        </ion-col>

      </ion-row>
      
    </ion-grid>
  </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-tabs >
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="patient" (click)="changeCurrentSelectedTab(mainTabs.Patienten)">
          <ion-icon class="tab-bar-icon" [src]="(CurrentSelectedTab === mainTabs.Patienten) ? activePatient : inactivePatient" ></ion-icon>
        <ion-label class="custom-h5">Patienten</ion-label>
        <!--<ion-badge>6</ion-badge>-->
        </ion-tab-button>
  
        <ion-tab-button tab="aufgaben" (click)="changeCurrentSelectedTab(mainTabs.MeineAufgaben)">
          <ion-icon class="tab-bar-icon" [src]="(CurrentSelectedTab === mainTabs.MeineAufgaben) ? activeAufgaben : inactiveAufgaben"></ion-icon>
          <ion-label class="custom-h5">Aufgaben</ion-label>
        </ion-tab-button>
    
        <ion-tab-button  tab="serial-aufgaben" (click)="changeCurrentSelectedTab(mainTabs.SerialAufgaben)">
          <ion-icon class="tab-bar-icon" [src]="(CurrentSelectedTab === mainTabs.SerialAufgaben) ? activeSerienaufgabe : inactiveSerienaufgabe"></ion-icon>
          <ion-label class="custom-h5">Serienaufgaben</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="einstellung" (click)="changeCurrentSelectedTab(mainTabs.Settings)">
          <ion-icon class="tab-bar-icon" [src]="(CurrentSelectedTab === mainTabs.Settings) ? activeProfile : inactiveProfile"></ion-icon>
          <ion-label class="custom-h5">Einstellung</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  </ion-content>

