<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-padding ion-no-margin">
    <ion-grid class="container-padding ion-no-margin">
      <ion-row class="ion-no-padding ion-no-margin">
        <ion-col class="ion-no-padding ion-no-margin d-flex justify-content-end">
          <ion-icon [src]="close" class="close-icon" (click)="dismiss()"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="ion-no-padding ion-no-margin">
        <ion-col class="ion-no-padding ion-no-margin d-flex justify-content-center">
          <ion-label class="header ion-margin custom-semi-bold">Ereignis hinzufügen</ion-label>
        </ion-col>
      </ion-row>
      
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content> <!-- class="container-padding-top container-padding-start container-padding-end"-->
  <div class="h-100 w-100 d-flex flex-column container-padding-top container-padding-start container-padding-end">
    <div class="d-flex align-items-center" style="flex-grow: 2;">
      <app-drop-down [title]="'Patient'" [list]="patientsDropDownList" [(selectedValue)]="selectedPatient" class="w-100"></app-drop-down>
    </div>
    <div class="d-flex align-items-center" style="flex-grow: 2;">
      <app-drop-down [title]="'Ereignis'" [list]="eventsDropDownList" [(selectedValue)]="selectedEvent" (itemChange)="eventChange($event)" class="w-100"></app-drop-down>
    </div>

    <ion-grid style="flex-grow: 2;" *ngIf="isOtherEvent" 
      class="ion-no-padding ion-no-margin container-padding-bottom container-padding-top">
        <ion-row class="ion-no-padding ion-no-margin">
          <ion-col class="ion-no-padding ion-no-margin">
            <ion-label class="custom-h2 custom-semi-bold">{{'ADD_EVENT.OTHER' | translate}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding ion-no-margin">
          <ion-col class="input ion-no-padding">
            <ion-input class="color-black1 custom-h2 ion-no-margin" mode="md" 
            required="true" type="text" placeholder="" [(ngModel)]="otherEventValue"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    <!--<div class="d-flex align-items-center" style="flex-grow: 2;" *ngIf="isOtherEvent">
      <ion-input class="color-black1 custom-h2 ion-no-margin" mode="md"
        required="true" type="text" placeholder="" [(ngModel)]="otherEventValue"></ion-input>
    </div>-->

    <div class="d-flex align-items-center" style="flex-grow: 2;">
      <ion-grid class="ion-no-padding ion-no-margin container-padding-bottom container-padding-top w-100">
      <ion-row class="ion-no-padding ion-no-margin w-100">
        <ion-col class="ion-no-padding ion-no-margin">
          <ion-label class="custom-h2 custom-semi-bold">
            Details
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="ion-no-padding ion-no-margin w-100">
        <ion-col class="ion-no-padding ion-no-margin d-flex align-items-center">
          <ion-textarea class="input custom-h2 h-auto ion-no-padding ion-no-margin p-2 w-100" 
          style="min-width: 100%; min-height: 77px;" placeholder="hier eingeben"
          [(ngModel)]="remarks"></ion-textarea>
        </ion-col>
        <ion-col class="ion-no-padding ion-no-margin pl-2 d-flex align-items-start" size="auto">
          <ion-img class="custom-h1" style="width: 38px; height: 38px;"
          (click)="Record()"
          [src]="voiceRecorderInactive"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
    </div>

    <div class="container-padding w-100 transparent-item" style="flex-grow: 2;">
      <ion-button disabled="true" class="default-button w-100 ion-no-margin transparent-item">
        Speichern
      </ion-button>
    </div>
  </div>
  

  <div id="fixedButton" class="container-padding w-100 bk-color-white" style="bottom: 0px; box-shadow: 0 -2px 13px 0 rgba(0,0,0,0.15)">
    <ion-button class="default-button w-100 ion-no-margin" disabled="{{selectedEvent == -1 || selectedPatient == -1 || (isOtherEvent && otherEventValue.length == 0)}}" (click)="addPatientEvent()">
      Speichern
    </ion-button>
  </div>
</ion-content>
