<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-padding ion-no-margin">
    <ion-grid class="container-padding ion-no-margin">
      <ion-row class="ion-no-padding ion-no-margin">
        <ion-col class="ion-no-padding ion-no-margin d-flex justify-content-end">
          <ion-icon [src]="close" class="close-icon" (click)="dismiss()"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="ion-no-padding ion-no-margin">
        <ion-col class="ion-no-padding ion-no-margin d-flex justify-content-center">
          <ion-label class="header ion-margin custom-semi-bold d-flex flex-column align-items-center">
            <ion-label>Ärztliche Anordnung</ion-label>
            <!--<ion-label>verabreichen</ion-label>-->
          </ion-label>
        </ion-col>
      </ion-row>
      
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content > <!--class="container-padding-top container-padding-start container-padding-end"-->
  <div class="h-100 w-100 container-padding-top container-padding-start container-padding-end">
    <div class="h-75 w-100 d-flex align-items-center">
      <app-drop-down [title]="'Patient'" [list]="patientsDropDownList" [(selectedValue)]="selectedPatient" class="w-100"></app-drop-down>
    </div>
  </div>
  

  <div id="fixedButton" class="container-padding w-100 bk-color-white" slot="fixed" style="bottom: 0px; box-shadow: 0 -2px 13px 0 rgba(0,0,0,0.15)">
    <ion-button class="default-button w-100 ion-no-margin" disabled="{{selectedPatient == -1}}" (click)="goToPatientPage()">
      Weiter
    </ion-button>
  </div>
</ion-content>
