/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* User Defined CSS Classes */
@import "./CSS/RoundedCorners.scss";
@import "./CSS/Heights.scss";
@import "./CSS/Colors.scss";
@import "./CSS/Borders.scss";
@import "./CSS/flexLayout.scss";
@import "./CSS/RelativeLayout.scss";
@import "./CSS/Padding.scss";
@import "./CSS/IconSizes.scss";
@import "./CSS/CustomizedConponents.scss";
//@import "./CSS/bootstrap.min.css";
@import "./CSS/Font.scss";
@import "./CSS/TransitionDurations.scss";
@import "./CSS/PickerView.scss";

@import "./CSS/loadingComponent.scss";
@import "./CSS/dateTimePicker.scss";
@import "./CSS/Toast";


.no-boxshadow {
    --box-shadow: none !important;
    box-shadow: none !important;
}

.no-display {
    display: none;
}


/* searchbar md*/

ion-toolbar.sc-ion-searchbar-md-h, ion-toolbar .sc-ion-searchbar-md-h {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    opacity: 0.7;
}

/* searchbar ios*/

ion-toolbar.sc-ion-searchbar-ios-h, ion-toolbar .sc-ion-searchbar-ios-h {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 52px;
    opacity: 0.7;
}



.popover-content.sc-ion-popover-md {
    border-radius: 18px;
    width: fit-content;
    height: fit-content;
    -webkit-transform-origin: left top;
    transform-origin: left top;
}

.my-custom-modal-css .modal-wrapper {
    height: 50%;
    top: 50%;
    position: absolute; 
    display: block;  
 }

