<ion-content>
  <div class="h-100 d-flex flex-column">
    <ion-grid class="container-padding ion-no-margin d-flex align-items-center" style="flex-grow: 1;">
      <ion-row class="ion-no-padding ion-no-margin w-100">
        <ion-col class="ion-no-padding ion-no-margin" size="auto">
          <ion-avatar class="personal-profile-avatar">
            <ion-img [src]="user.Picture"></ion-img>
          </ion-avatar>
        </ion-col>
        <ion-col class="container-padding-start d-flex flex-column justify-content-center ">
          <ion-label class="custom-h1 custom-semi-bold color-black1">{{user.FirstName}} {{user.LastName}}</ion-label>
          <ion-label class="custom-h4 color-black3">{{user.JobTitle}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="ion-no-padding ion-no-margin d-flex flex-column justify-content-center" style="flex-grow: 1;">
      <ion-row class="container-padding ion-no-padding ion-no-margin" style="border-top: 1px solid #DADADA;">
        <ion-col class="ion-no-padding ion-no-margin">
          <ion-label class="">Profil</ion-label>
        </ion-col>
        <ion-col class="ion-no-padding ion-no-margin" size="auto">
          <ion-icon [src]="arrowRight"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="container-padding ion-no-padding ion-no-margin" style="border-top: 1px solid #DADADA;">
        <ion-col class="ion-no-padding ion-no-margin">
          <ion-label class="">Sprache</ion-label>
        </ion-col>
        <ion-col class="ion-no-padding ion-no-margin" size="auto">
          <ion-icon [src]="arrowRight"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="container-padding ion-no-padding ion-no-margin" style="border-top: 1px solid #DADADA;">
        <ion-col class="ion-no-padding ion-no-margin">
          <ion-label class="">Einstellungen</ion-label>
        </ion-col>
        <ion-col class="ion-no-padding ion-no-margin" size="auto">
          <ion-icon [src]="arrowRight"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="container-padding ion-no-padding ion-no-margin" style="border-top: 1px solid #DADADA;">
        <ion-col class="ion-no-padding ion-no-margin">
          <app-drop-down [title]="'Server'" 
          [placeholder]="gerCurrentServerLink()" 
          [list]="getServersList()"
          (itemChange)="onServerChange($event)"></app-drop-down>
        </ion-col>
      </ion-row>
      <ion-row class="container-padding ion-no-padding ion-no-margin" style="border-top: 1px solid #DADADA;">
        <ion-col class="ion-no-padding ion-no-margin">
          <ion-label class="color-primary" (click)="logOut()">Abmelden</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="container-padding ion-no-margin d-flex flex-column justify-content-end">
      <ion-row class="ion-no-padding ion-no-margin">
        <ion-col class="ion-no-padding ion-no-margin">
          <!--<ion-img [src]="docAssistLogo" style="width: 50px; height: 50px;"></ion-img>-->
          <ion-label class="d-flex">
            <a class="color-black1 d-flex" href="https://metafinanz.de/doc-assist/" target="_blank">
              <ion-label class="custom-bold color-black3" style="font-size: 30px;">doc</ion-label>
              <ion-label class="custom-bold color-primary" style="font-size: 30px;">.</ion-label>
              <ion-label class="custom-bold color-black1" style="font-size: 30px;">assist</ion-label>
            </a>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="ion-no-padding ion-no-margin">
        <ion-col class="ion-no-padding ion-no-margin">
          <ion-label class="d-flex flex-column custom-h4 color-black1">
            <ion-label >Die intelligente Dokumentation für Krankenhäuser</ion-label>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="ion-no-padding ion-no-margin">
        <ion-col class="ion-no-padding ion-no-margin">
          <ion-label 
          class="color-black1 custom-h4">©
          <a class="color-black1" 
          href="https:www.metafinanz.de" 
          target="_blank">metafinanz
          </a> & 
          <a class="color-black1" 
          href="https://www.ultimus.com/" 
          target="_blank">Ultimus</a>
          <span class="custom-semi-bold"> (3.1.5)</span></ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <app-floating-action-button *ngIf="showRecorder" [addBlankSpace]="false" [screen]="screensEnum.Home" [context]="'Settings'"></app-floating-action-button>
</ion-content>
