<ion-grid>
  <ion-row id="event" *ngIf="showEvents" class="menu-item bot-border" (click)="createAddEventModel()">
    <ion-col size="auto" class="d-flex align-items-center">
      <ion-icon class="custom-h1" [src]="'./assets/icon/ereignis.svg'"></ion-icon>
    </ion-col>

    <ion-col class="d-flex align-items-center">
      <ion-label class="custom-h4">
        Ereignis
      </ion-label>
    </ion-col>

    <ion-col size="auto" class="d-flex align-items-center">
      <ion-icon [src]="'./assets/icon/arrow/right.svg'"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row id="adhoc_tasks" *ngIf="showAdhoc" class="menu-item bot-border" (click)="createAdhocModel()">
    <ion-col size="auto" class="d-flex align-items-center">
      <ion-icon class="custom-h1" [src]="'./assets/icon/adhoc-aufgabe.svg'"></ion-icon>
    </ion-col>

    <ion-col class="d-flex align-items-center">
      <ion-label class="custom-h4">
        Adhoc-Aufgaben (einmalig)
      </ion-label>
    </ion-col>

    <ion-col size="auto" class="d-flex align-items-center">
      <ion-icon [src]="'./assets/icon/arrow/right.svg'"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row id="on_demand_medication" *ngIf="showBedarf" class="menu-item bot-border" (click)="createAddBedarfModel()">
    <ion-col size="auto" class="d-flex align-items-center">
      <ion-icon class="custom-h1" [src]="'./assets/icon/bedarfsmedikation.svg'"></ion-icon>
    </ion-col>

    <ion-col class="d-flex align-items-center">
      <ion-label class="custom-h4">
        Bedarfsmedikation
      </ion-label>
    </ion-col>

    <ion-col size="auto" class="d-flex align-items-center">
      <ion-icon [src]="'./assets/icon/arrow/right.svg'"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row id="ärztlicheAnordnung" *ngIf="showArztliche" class="menu-item bot-border" (click)="createArztlicheAnordnungModel()">
    <ion-col size="auto" class="d-flex align-items-center">
      <ion-icon class="custom-h1" [src]="'./assets/icon/arztliche-anordnung.svg'"></ion-icon>
    </ion-col>

    <ion-col class="d-flex align-items-center">
      <ion-label class="custom-h4">
        Ärztliche Anordnung
      </ion-label>
    </ion-col>

    <ion-col size="auto" class="d-flex align-items-center">
      <ion-icon [src]="'./assets/icon/arrow/right.svg'"></ion-icon>
    </ion-col>
  </ion-row>
  
  <ion-row id="Korrektur" *ngIf="showKorrektur" class="menu-item">
    <ion-col size="auto" class="d-flex align-items-center">
      <ion-icon class="custom-h1" [src]="'./assets/icon/korrektur.svg'"></ion-icon>
    </ion-col>

    <ion-col class="d-flex align-items-center">
      <ion-label class="custom-h4">
        Korrektur
      </ion-label>
    </ion-col>

    <ion-col size="auto" class="d-flex align-items-center">
      <ion-icon [src]="'./assets/icon/arrow/right.svg'"></ion-icon>
    </ion-col>
  </ion-row>
</ion-grid>