<ion-content>
    
  <ion-grid class="d-flex flex-column justify-content-between h-100">

    <ion-row style="flex-grow: 2;">
      <ion-col class="d-flex justify-content-start align-items-center">

        <ion-grid class="ion-no-padding">
          <div>
            <ion-row class="ion-no-padding">
              <ion-col class="ion-no-padding">
                <ion-label class="d-flex">
                  <ion-label class="custom-bold color-black3" style="font-size: 30px;">doc</ion-label>
                  <ion-label class="custom-bold color-primary" style="font-size: 30px;">.</ion-label>
                  <ion-label class="custom-bold color-black1" style="font-size: 30px;">assist</ion-label>
                  <ion-label class="custom-h4 color-black1 h-100 ion-align-self-start">©</ion-label>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row class="ion-no-padding">
              <ion-col class="ion-no-padding">
                <ion-label class="custom-h4 color-black1">Der intelligente Dokumentationsassistent </ion-label>
                <br>
                <ion-label class="custom-h4 color-black1">für Krankenhäuser</ion-label>
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>

      </ion-col>
    </ion-row>
    
    <ion-row class="ion-no-padding" style="flex-grow: 2;">
      <ion-col class="ion-no-padding d-flex justify-content-center flex-column">

        <ion-row>
          <ion-col>
            <ion-row *ngIf="showSelectServer">
              <ion-col class="input ion-no-padding">
                <ion-input class="color-black1 custom-h2 ion-no-margin" mode="md"
                inputmode="email" enterkeyhint="next" required="true" type="email" placeholder="Server"
                [(ngModel)]="serverLink" (ionChange)="onServerChange()"></ion-input>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-row>
              <ion-col class="input ion-no-padding">
                <ion-input class="color-black1 custom-h2 ion-no-margin" mode="md"
                inputmode="email" enterkeyhint="next" required="true" type="text" placeholder="Nutzername"
                [(ngModel)]="username"></ion-input>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <ion-row>
              <ion-col class="input ion-no-padding">
                <ion-input class="color-black1 custom-h2" mode="md"
                enterkeyhint="done" required="true" type="password" placeholder="Passwort"
                [(ngModel)]="password"></ion-input>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="domainConfig.EnterDomain">
          <ion-col>
            <ion-row>
              <ion-col class="input ion-no-padding">
                <ion-select class="color-black1 custom-h2 ion-no-padding w-100 pl-2 pr-2"
                 placeholder="Domain" [(ngModel)]="selectedDomain">
                <ion-select-option value="{{domainConfig.DefaultDomain}}">{{domainConfig.DefaultDomain}}</ion-select-option>
              </ion-select>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <ion-button expand="block" class="default-button" (click)="login()">
              Login
            </ion-button>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col class="text-center">
            <ion-label class="color-primary custom-h2" >
              Passwort vergessen? 
            </ion-label> 
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>

    <ion-row class="d-flex" style="flex-grow: 3;">
      <ion-col class="text-center ion-align-self-end">
        <div>
          <ion-label class="color-black3 custom-h2">Powered by </ion-label>
          <ion-label class="color-black3 custom-h2">
            <a class="color-black3 " 
            href="https:www.metafinanz.de" 
            target="_blank"><span class="custom-semi-bold">meta</span>finanz
            </a>
          </ion-label>
          <ion-label class="color-black3 custom-h2">and </ion-label>
          <ion-label class="custom-h2">
            <a class="color-black3" 
            href="https://www.ultimus.com/" 
            target="_blank">Ultimus</a>
          </ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
