<ion-grid class="w-100 ion-no-margin ion-no-padding">
  <ion-row class="ion-no-margin ion-no-padding">
    <ion-col class="ion-no-margin ion-no-padding">
      <ion-label class="custom-h2 custom-semi-bold" [ngClass]="{'color-black4': disabled}">{{title}}</ion-label>
    </ion-col>
  </ion-row>

  <div class="btn-group w-100">

    <ion-row class="w-100 ion-no-margin dropDown-button"
      type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [ngClass]="{'container-margin-top': !inline, 'disabled': disabled}">
      <ion-col class="ion-no-margin ion-no-padding">
        <ion-label *ngIf="placeholder && selectedValueIndex < 0" class="ion-no-margin ion-no-padding custom-h2" [ngClass]="{'color-black4': disabled}">
          {{placeholder}}
        </ion-label>
        <ion-label *ngIf="selectedValueIndex >= 0">
          {{list[selectedValueIndex]?.text}} {{' , '}} {{list[selectedValueIndex]?.date | date: datetimeFormatService.datetimeFormat}}
        </ion-label>
      </ion-col>
      <ion-col class="ion-no-margin ion-no-padding d-flex align-items-center container-padding-right" size="auto">
        <ion-icon class="dropDown-icon" name="chevron-down-outline" color="#ffffff" [ngClass]="{'color-black4': disabled}"></ion-icon>
      </ion-col>
    </ion-row>

    <div class="dropdown-menu dropDown-Menu">

      <div *ngIf="(list.length !== 0 && list) else noData">

        <ion-row class="ion-no-padding ion-no-margin dropDown-item" *ngFor="let item of list; let j = index" (click)="itemSelected(j)">
          <ion-col class="ion-no-padding ion-no-margin" size="12">
            <ion-label class="custom-h2" [ngClass]="{'color-primary': selectedValueIndex === j}">
              {{item.text}}<span *ngIf="item.date">{{' , '}} {{item?.date | date: datetimeFormatService.datetimeFormat}}</span>
            </ion-label>
          </ion-col>
        </ion-row>
      </div>

      <ng-template #noData>
        <div *ngIf="list.length === 0" class="dropDown-item custom-h2 test-center">
          <ion-label>
            {{'COMMON.NO_DATA' | translate}}
          </ion-label>
        </div>
      </ng-template>

    </div>
  </div>
  
</ion-grid>