.toast-css-class {
    --background: var(--white);
    --border-radius: 6px;
    font-weight: var(--semi-bold);
    font-size: var(--h4);
  }

.toast-css-class {
    --background: var(--white);
    --border-radius: 6px;
    font-weight: var(--semi-bold);
    font-size: var(--h4);
}

.toast-fail {
    --color: #FF4C20;
}

.toast-success {
    --color: #00A72D;
}