.black1-border-1 {
    border: 1px solid var(--black1);
}

.black2-border-1 {
    border: 1px solid var(--black2);
}

.black3-border-1 {
    border: 1px solid var(--black3);
}

.black4-border-1 {
    border-bottom: 0.5px solid var(--black4);
}

.white-border-1 {
    border: 1px solid var(--white);
}