:root {
    --black1: #414141;
    --black2: #6c6c6c;
    --black3: #878787;
    --black4: #dadada;
    --backGround: #f6f6f6;
    --primary: #00a4ab;
    --primary2: #d4f0f1;
    --warning: #ff4c20;
    --success: #00a72d;
    --white: #ffffff;
    --disabled-color: #bfbfbf;
}

.color-black1 {
    color: var(--black1);
    --color: var(--black1);
}

.color-black2 {
    color: var(--black2);
    --color: var(--black2);
}

.color-black3 {
    color: var(--black3);
    --color: var(--black3);
}

.color-black4 {
    color: var(--black4);
    --color: var(--black4);
}

.color-background {
    color: var(--backGround);
    --color: var(--backGround);
}

.color-primary {
    color: var(--primary);
    --color: var(--primary);
}

.color-primary2 {
    color: var(--primary2);
    --color: var(--primary2);
}

.color-warning {
    color: var(--warning);
    --color: var(--warning);
}

.color-success {
    color: var(--success);
    --color: var(--success);
}

.color-white {
    color: var(--white);
    --color: var(--white);
}

.bk-color-primary {
    background-color: var(--primary);
    --background: var(--primary);
}

.bk-color-primary2 {
    background-color: var(--primary2);
    --background: var(--primary2);
}

.bk-color-light {
    background-color: var(--backGround);
    --background: var(--backGround);
}

.bk-color-black4 {
    background-color: var(--black4);
    --background: var(--black4);
}

.bk-color-white {
    background-color: var(--white);
    --background: var(--white);
}

