:root {
    --semi-bold: 600;
    --bold: 700;
    --model-header-font: 20px;

    @media only screen 
    and (max-device-width : 300px) {
        
        --h1: 16px;
        --h2: 11px;
        --h3: 10px;
        --h4: 9px;
        --h5: 8px;

        --h-headers: 13px;

        --input-font: 12px;

        --graph-font: 8px
        
    }

    @media only screen 
    and (min-device-width : 300px) 
    and (max-device-width : 370px) {
        
        --h1: 18px;
        --h2: 13px;
        --h3: 12px;
        --h4: 11px;
        --h5: 10px;

        --h-headers: 16px;

        --input-font: 16px;

        --graph-font: 12px
    }

    @media only screen 
    and (min-device-width : 370px) {
        
        --h1: 22px;
        --h2: 16px;
        --h3: 15px;
        --h4: 14px;
        --h5: 12px;

        --h-headers: 19px;

        --input-font: 18px;

        --graph-font: 12px
    }
    
}

.graph-font {
    font-size: var(--graph-font);
}

.custom-h1 {
    font-size: var(--h1);
}

.custom-bold {
    font-weight: var(--bold);
}

.custom-semi-bold {
    font-weight: var(--semi-bold);
}

.custom-h2 {
    font-size: var(--h2);
}

.custom-h3 {
    font-size: var(--h3);
}

.custom-h4 {
    font-size: var(--h4);
}

.custom-h5{
    font-size: var(--h5);
}

.header {
    font-size: var(--h-headers);
}

.input-font {
    font-size: var(--input-font);
}
