.loadingContainer .loading-wrapper{
    //--spinner-color: var(--black1);
    color: var(--primary);
}

.loadingContainer .loading-content{
    //--spinner-color: var(--black1);
    color: var(--black1);
}