.am-picker {
    flex: 1;
}

picker {
    display: block;
}

.am-picker-popup-wrap {
    top: inherit;
}

.am-picker-popup-mask {
    transform: none;
}

.am-picker {
    display: flex;
    align-items: center;
}

.am-picker-item {
    flex: 1;
    text-align: center;
}

.am-picker-col {
    display: block;
    position: relative;
    height: 220px;
    overflow: hidden;
    width: 100%;
}

.am-picker-col-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 73px 0;
}

.am-picker-col-item {
    touch-action: manipulation;
    text-align: center;
    font-size: 3vw; //20px
    height: 55px;
    line-height: 40px;
    color: #3D3D3D;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.4;
}

.am-picker-col-item-selected {
    color: #3d3d3d;
    font-size: 5vw;
    opacity: 1;
    line-height: 5vw;
    height: 55px;
}

.am-picker-col-item-disabled {
    color: var(--disabled-color);
}

.am-picker-col-mask {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    margin: 0 auto;
    width: 100%;
    z-index: 3;
    // background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6)), -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6));
    // background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6)), linear-gradient(to top, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6));
    background-position: top, bottom;
    background-size: 100% 73px;
    background-repeat: no-repeat;
}

.am-picker-col-indicator {
    box-sizing: border-box;
    width: 100%;
    height: 55px;
    position: absolute;
    left: 0;
    top: 74px;
    z-index: 3;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

@media (min-resolution: 2dppx) {
    html:not([data-scale]) .am-picker-col-indicator {
        border-top: none;
    }
    html:not([data-scale]) .am-picker-col-indicator::before {
        content: '';
        position: absolute;
        background-color: #ddd;
        display: block;
        z-index: 1;
        top: 0;
        right: auto;
        bottom: auto;
        left: 0;
        width: 100%;
        height: 1PX;
        transform-origin: 50% 50%;
        transform: scaleY(0.5);
    }
}

@media (min-resolution: 2dppx) and (min-resolution: 3dppx) {
    html:not([data-scale]) .am-picker-col-indicator::before {
        transform: scaleY(0.33);
    }
}

@media (min-resolution: 2dppx) {
    html:not([data-scale]) .am-picker-col-indicator {
        border-bottom: none;
    }
    html:not([data-scale]) .am-picker-col-indicator::after {
        content: '';
        position: absolute;
        background-color: #ddd;
        display: block;
        z-index: 1;
        top: auto;
        right: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1PX;
        transform-origin: 50% 100%;
        transform: scaleY(0.5);
    }
}

@media (min-resolution: 2dppx) and (min-resolution: 3dppx) {
    html:not([data-scale]) .am-picker-col-indicator::after {
        transform: scaleY(0.33);
    }
}

pickerview {
    display: block;
}

.before-dot {
    height: 5px;
    width: 5px;
    border-radius: 20px;
    background-color: black;
    position: absolute;
    top: 56%;
    margin-left: 1%;
    margin-right: 3%;
}

.temp-dot {
    height: 7px;
    width: 7px;
    border-radius: 8px;
    background-color: white;
    position: absolute;
    top: 25%;
    margin-left: 20%;
    border: 1px solid black;
}

.nm-unit {
    font-size: 5vw !important;
}