<div class="d-flex mb-1 mt-1 position-relative">
  <ion-card #meineCard class="item-card container-padding ion-no-margin d-flex align-items-center" 
  style="z-index: 11; right: 1px;" (click)="openPatientProfile()">
    <ion-grid class="ion-no-padding ion-no-margin">
      <ion-row class="ion-no-padding ion-no-margin ion-align-items-center">
        <ion-col class="ion-no-padding ion-no-margin">
          <ion-label class="ion-no-margin custom-h2" style="display: flex; flex-direction: column;">
            <ion-label>{{patient.FirstName}} {{patient.LastName}}</ion-label>
            <ion-label>{{roomName}}</ion-label>
          </ion-label>
        </ion-col>
        <ion-col class="ion-no-padding ion-no-margin" size="auto">
          <div class="ion-no-margin flex-row-r">
            <ion-avatar class="white-border-1 avatar" 
              *ngFor="let avatars of Cares; let i = index" style="position: relative;" 
              [ngStyle]="{'left': ((i > 0) ? (10 * i + 'px') : '0px')}">
              <ion-img [src]="avatars"></ion-img>
            </ion-avatar>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <div *ngIf="swapableCard && showDeleteButton" class="delete-rectangle position-absolute h-100" style="z-index: 10;" (click)="deleteMe()">
    <div class="w-100 h-100 d-flex justify-content-center align-items-center flex-column">
      <ion-icon class="delete-icon" [src]="deleteIcon"></ion-icon>
      <ion-label class="color-white custom-h4">{{'PATIENT_CARD.DELETE' | translate}}</ion-label>
    </div>
  </div>
</div>