<ion-card #meineCard class="item-card container-padding ion-no-margin d-flex align-items-center mt-1 mb-1" 
  style="z-index: 11; right: 1px;">
  <ion-grid class="ion-no-padding ion-no-margin">
    <ion-row class="ion-no-padding ion-no-margin d-flex ion-align-items-center">
      <ion-col class="ion-no-padding ion-no-margin d-flex ion-align-items-center" size="auto">
        
      </ion-col>
      <ion-col class="container-padding-start container-padding-end ion-no-margin">
        <ion-label class="d-flex flex-column">
          <ion-label class="custom-h2 custom-semi-bold color-black1">
            Blutdruck messen
          </ion-label>
          <ion-label class="custom-h2 color-black3">
            <ion-label>105 <span style="position: relative; top: -3px;">.</span> Aneta Škodová</ion-label>
          </ion-label>
        </ion-label>
      </ion-col>
      <ion-col size="auto">
        <ion-label class="color-warning custom-h2" >
          - 12 Tage
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>