<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-padding ion-no-margin">
    <ion-grid class="container-padding ion-no-margin">
      <ion-row class="ion-no-padding ion-no-margin">
        <ion-col class="ion-no-padding ion-no-margin d-flex justify-content-end">
          <ion-icon [src]="close" class="close-icon" (click)="dismiss()"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="ion-no-padding ion-no-margin">
        <ion-col class="ion-no-padding ion-no-margin d-flex justify-content-center">
          <ion-label class="header ion-margin custom-semi-bold">Adhoc-Aufgabe hinzufügen</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="ion-no-padding ion-no-margin" *ngIf="status === document">
        <ion-col class="ion-no-padding ion-no-margin d-flex justify-content-center">
          <ion-label class="header custom-semi-bold">{{patientsList[selectedPatient].Name}}</ion-label>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content > <!--class="container-padding-top container-padding-start container-padding-end"-->
  <div class="h-100 w-100 d-flex flex-column container-padding-top container-padding-start container-padding-end">
    <div class="d-flex align-items-center" style="flex-grow: 2;" *ngIf="status == select">
      <app-drop-down [title]="'Patient'" [list]="patientsDropDownList" [(selectedValue)]="selectedPatient" (itemChange)="getEvents($event)" class="w-100"></app-drop-down>
    </div>
    <div class="d-flex align-items-center" style="flex-grow: 2;" *ngIf="status == select">
      <app-drop-down [title]="'Aufgabe'" [list]="activityDropDownList" (itemChange)="changeActivity($event)" class="w-100"></app-drop-down>      
    </div>
    <div class="d-flex align-items-center" style="flex-grow: 2;" *ngIf="status == select">
      <app-modified-drop-down [title]="'Zuordnung zu Ereignis'" [list]="eventsDropDownList" [placeholder]="'kein Ereignis'"
       [(selectedValueIndex)]="selectedEventIndex" class="w-100"></app-modified-drop-down>
    </div>
    <div class="d-flex align-items-center w-100" style="flex-grow: 3;" *ngIf="status == document">
      <!--<ion-button class="default-button w-100" (click)="openWheelSelector()">Ändern</ion-button>-->
      <!--<app-picker-view class="w-100"
        [options]="taskColumns01"
        [(ngModel)]="value"
      ></app-picker-view>-->
      <div *ngIf="isWert()" class="w-100"> <!---->
        <ion-row class="ion-no-padding ion-no-margin" *ngIf="activity.InputValues > 0"> <!---->
          <ion-col class="ion-no-padding ion-no-margin">
            <ion-row class="ion-no-padding ion-no-margin">
              <ion-col class="ion-no-padding ion-no-margin">
                <ion-label class="custom-h2 custom-semi-bold pb-2">{{activity.NameOption02}}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row class="ion-no-padding ion-no-margin">
              <ion-col class="ion-no-padding ion-no-margin">
                <!--<ion-button class="default-button w-100" (click)="openWheelSelector(1)">Ändern</ion-button>-->
                <app-picker-view
                  [options]="taskColumns01"
                  [(ngModel)]="value01"
                ></app-picker-view>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        
        <ion-row class="mt-4" *ngIf="activity.InputValues > 1"> <!---->
          <ion-col class="ion-no-padding ion-no-margin">
            <ion-row class="ion-no-padding ion-no-margin">
              <ion-col class="ion-no-padding ion-no-margin">
                <ion-label class="custom-h2 custom-semi-bold pb-2 mt-3">{{activity.NameOption0202}}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row class="ion-no-padding ion-no-margin">
              <ion-col class="ion-no-padding ion-no-margin">
                <!--<ion-button class="default-button w-100" (click)="openWheelSelector(2)">Ändern</ion-button>-->
                <app-picker-view
                  [options]="taskColumns02"
                  [(ngModel)]="value02"
                ></app-picker-view>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="isFormular()" class="w-100">
        <ion-row class="ion-no-padding ion-no-margin">
          <ion-col class="ion-no-padding ion-no-margin">
            <ion-button class="default-button w-100" (click)="openWebForm(activity.DefaultValue01)">Formular</ion-button>
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="isOk()" class="w-100"> <!----> 
        <ion-row class="ion-no-padding ion-no-margin">
          <ion-col class="d-flex align-items-center justify-content-center">
            <ion-label class="custom-h2">offen​</ion-label>
          </ion-col>
          <ion-col class="ion-no-padding ion-no-margin d-flex align-items-center justify-content-center">
            <ion-toggle mode="ios" [(ngModel)]="value01"></ion-toggle>
          </ion-col>
          <ion-col class="d-flex align-items-center justify-content-center">
            <ion-label class="custom-h2">erledigt​</ion-label>
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="isFreiText()" class="w-100"> <!---->
        <ion-row class="ion-no-padding ion-no-margin">
          <ion-col class="ion-no-padding ion-no-margin">
            <ion-label class="custom-h2 custom-semi-bold">Beschreibung</ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding ion-no-margin">
          <ion-col class="input ion-no-padding">
            <ion-input class="color-black1 custom-h2 ion-no-margin" mode="md"
            required="true" placeholder="FreiText"
            [(ngModel)]="freeText"></ion-input>
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="isMiniForm()" class="w-100"> <!---->
        <app-mini-form [activityName]="activity.Name" [activityID]="activity.ID" (onChange)="miniFormChanged($event)"></app-mini-form>
      </div>
    </div>

    <div class="d-flex align-items-center" style="flex-grow: 2;" *ngIf="status == document">
      <ion-grid class="ion-no-padding ion-no-margin container-padding-bottom container-padding-top w-100">
        <ion-row class="ion-no-padding ion-no-margin w-100">
          <ion-col class="ion-no-padding ion-no-margin">
            <ion-label class="custom-h2 custom-semi-bold">
              Kommentar
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding ion-no-margin w-100">
          <ion-col class="ion-no-padding ion-no-margin d-flex align-items-center">
            <ion-textarea class="input custom-h2 h-auto ion-no-padding ion-no-margin p-2 w-100" 
            style="min-width: 100%; min-height: 77px;" placeholder="hier eingeben"
            [(ngModel)]="remarks"></ion-textarea>
          </ion-col>
          <ion-col class="ion-no-padding ion-no-margin pl-2 d-flex align-items-start" size="auto">
            <ion-img class="custom-h1" style="width: 38px; height: 38px;"
            (click)="Record()"
            [src]="voiceRecorderInactive"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="container-padding w-100 transparent-item" style="flex-grow: 2;">
      <ion-button disabled="true" class="default-button w-100 ion-no-margin transparent-item">
        Speichern
      </ion-button>
    </div>
  </div>
  

  <div id="fixedButton" class="container-padding w-100 bk-color-white" *ngIf="status == select"
    style="bottom: 0px; box-shadow: 0 -2px 13px 0 rgba(0,0,0,0.15)">
    <ion-button class="default-button w-100 ion-no-margin" disabled="{{selectedactivity == -1 || selectedPatient == -1}}" 
    (click)="goToDocumentPhase()">
      Eingabe
    </ion-button>
  </div>

  <div id="fixedButton" class="container-padding w-100 bk-color-white" *ngIf="status == document"
    style="bottom: 0px; box-shadow: 0 -2px 13px 0 rgba(0,0,0,0.15)">
    <ion-button class="default-button w-100 ion-no-margin" (click)="addDocumentedActivity()">
      Speichern
    </ion-button>
  </div>
</ion-content>
