:root {
    --round: 12px;
    --activite-round: 16.5px;
    --activity-button-height: 36px;
    --defualt-height: 58px;
    

    @media only screen 
    and (max-device-width : 300px) {
        --margin: 12px;
        --padding: 12px;
        --button-height: 35px;
        --input-height: 35px;
        --avatar-width-height: 25px;
        --card-height: 30px;
        --delete-card-width: 50px;
        --personal-avatar-size: 40px;

    }

    @media only screen 
    and (min-device-width : 300px) 
    and (max-device-width : 370px) {
        --margin: 16px;
        --padding: 16px;
        --button-height: 48px;
        --input-height: 48px;
        --avatar-width-height: 34px;
        --card-height: 50px;
        --delete-card-width: 72px;
        --personal-avatar-size: 54px;

    }

    @media only screen 
    and (min-device-width : 370px) {
        --margin: 16px;
        --padding: 16px;
        --button-height: 48px;
        --input-height: 48px;
        --avatar-width-height: 34px;
        --card-height: 50px;
        --delete-card-width: 72px;
        --personal-avatar-size: 64px;
    }
    
}

ion-col.hidden {
    text-decoration: line-through;
}

#fixedButton {
    position: fixed;
    z-index: 10;
}

.container-padding {
    --padding-start: var(--padding) !important;
    --padding-end: var(--padding) !important;
    --padding-top: var(--padding) !important;
    --padding-bottom: var(--padding) !important;
    padding-left: var(--padding) !important;
    padding-right: var(--padding) !important;
    padding-top: var(--padding) !important;
    padding-bottom: var(--padding) !important;
}

.container-padding-start {
    --padding-start: var(--padding) !important;
    padding-left: var(--padding) !important;
}

.container-padding-end {
    --padding-end: var(--padding) !important;
    padding-right: var(--padding) !important;
}

.container-padding-top {
    --padding-top: var(--padding) !important;
    padding-top: var(--padding) !important;
}

.container-padding-bottom {
    --padding-bottom: var(--padding) !important;
    padding-bottom: var(--padding) !important;
}

.container-margin {
    --margin-start: var(--margin) !important;
    --margin-end: var(--margin) !important;
    --margin-top: var(--margin) !important;
    --margin-bottom: var(--margin) !important;
    margin-left: var(--margin) !important;
    margin-right: var(--margin) !important;
    margin-top: var(--margin) !important;
    margin-bottom: var(--margin) !important;
}

.container-margin-start {
    --margin-start: var(--margin) !important;
    margin-left: var(--margin) !important;
}

.container-margin-end {
    --margin-end: var(--margin) !important;
    margin-right: var(--margin) !important;
}

.container-margin-top {
    --margin-top: var(--margin) !important;
    margin-top: var(--margin) !important;
}

.container-margin-bottom {
    --margin-bottom: var(--margin) !important;
    margin-bottom: var(--margin) !important;
}

.avatar {     
    width: var(--avatar-width-height) !important;  //any size
    height: var(--avatar-width-height) !important; //any size 
    }

.personal-profile-avatar {
    width: var(--personal-avatar-size) !important;  //any size
    height: var(--personal-avatar-size) !important; //any size 
}

.rotated-180 {
    transform: rotate(-180deg);
}

.max-form-width {
    max-width: 600px;
}

.item-i {
    max-height: 0px;
    overflow-y: hidden;
    transition: ease-in-out 500ms max-height;
}

.item-i.opened {
    max-height: 1000px;
    transition: ease-in-out 1000ms max-height;
}

.model-header {
    font-size: var(--model-header-font);
}

.display-none {
    display: none;
}

.delete-rectangle {
    //min-height: var(--card-height);
    width: var(--delete-card-width);
    border-radius: var(--round);
    background-color: var(--warning);
}

.item-card {
    border-radius: var(--round);
    //min-height: var(--card-height);
    box-shadow: none;
    background-color: var(--white);
    //position: relative;
    width: 100%;
}

.input {
    box-sizing: border-box;
    height: var(--input-height);
    border: 0.5px solid #BDBDBD;
    background-color: transparent;
    border-radius: var(--round);
    display: flex;
    align-items: center;
}

.default-button {
    height: var(--button-height);
    border-radius: var(--round) !important;
    --border-radius: var(--round) !important;
    background-color: var(--primary);
    &[disabled] {
        --opacity: 1;
        opacity: 1;
        --background: var(--black4);
        background-color: var(--black4);
    }
}


.add-new-patient-btn {
    --background: var(--backGround);
    --border-color: var(--primary);
    --border-width: 1px;
    --border-style: dashed;
    border-radius: var(--round) !important;
    --border-radius: var(--round) !important;
    height: var(--button-height);
    min-height: var(--button-height);
    --color: var(--primary);
    max-width: 600px !important; 
    //width: 100% !important;
    max-height: var(--button-height) !important;
    //min-height: var(--button-height) !important;
}

.search-bar  {
    --box-shadow: none !important;
    --background: var(--black4) !important;
    --border-radius: var(--round) !important;
    opacity: 0.7 !important;
}

.card-height {
    min-height: var(--card-height);
}

.card-radius {
    border-radius: var(--round);
    --border-radius: var(--round);
}

.searchbar-input {
    font-size: var(--h3) !important;
    opacity: 0.7;
}

.activite-btn {
    --background: var(--backGround);
    --border-color: var(--primary);
    --border-width: 1px;
    --border-style: solid;
    --color: var(--primary);
    --border-radius	: var(--activite-round);
    font-size: var(--h4) !important;
    //height: var(--activity-button-height) !important;
}

.component {
    margin-right: auto;
    margin-left: auto;
}

.dividor {
    padding-top: var(--padding);
    background-color: var(--background);
    --background: var(--backGround);
}