.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-r {
    display: flex;
    flex-direction: row-reverse;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-col-r {
    display: flex;
    flex-direction: column-reverse;
}

.flex-center-center {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.flex-start-center {
    display: flex; 
    justify-content: flex-start; 
    align-items: center;
}

.flex-end-center {
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
}

.flex-center-end {
    display: flex; 
    justify-content: center; 
    align-items: flex-end;
}