:root {
    @media only screen 
    and (max-device-width : 320px) {
        --bar-icon-height: 21px;
        --bar-icon-width: 21px;
        --delete-icon-width: 16px;
        --delete-icon-height: 19px;
        --close-icon: 24px;
        --checkbox-icon: 24px;
        --overdue-icon-height: 15px;
        --overdue-icon-width: 15px;
        --normal-icon-size: var(--h1);
    }
    
    @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 370px) {
        --bar-icon-height: 21px;
        --bar-icon-width: 21px;
        --delete-icon-width: 16px;
        --delete-icon-height: 19px;
        --close-icon: 24px;
        --checkbox-icon: 24px;
        --overdue-icon-height: 15px;
        --overdue-icon-width: 15px;
        --normal-icon-size: var(--h1);
    }

    @media only screen 
    and (min-device-width : 370px) {
        --bar-icon-height: 21px;
        --bar-icon-width: 21px;
        --delete-icon-width: 16px;
        --delete-icon-height: 19px;  
        --close-icon: 24px;
        --checkbox-icon: 24px;
        --overdue-icon-height: 19px;
        --overdue-icon-width: 19px;
        --normal-icon-size: var(--h1);
    }
}
.tab-bar-icon {
    width: var(--bar-icon-width);
    height: var(--bar-icon-height);
}

.delete-icon {
    width: var(--delete-icon-width);
    height: var(--delete-icon-height);
    color: var(--white);
}

.close-icon {
    width: var(--close-icon);
    height: var(--close-icon);
}

.normal-icon {
    font-size: var(--normal-icon-size) !important;
}

.check-box-icon {
    width: var(--checkbox-icon);
    height: var(--checkbox-icon);
}

.overdue-icon {
    width: var(--overdue-icon-width);
    height: var(--overdue-icon-width);
}