<ion-content>
  <ion-refresher *ngIf="currentTab == secondaryTabs.ungrouped" slot="fixed" (ionRefresh)="getLateTasks($event, 1)" style="z-index: 9999;">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-refresher *ngIf="currentTab == secondaryTabs.room" slot="fixed" (ionRefresh)="getLateTasks($event, 2)" style="z-index: 9999;">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-refresher *ngIf="currentTab == secondaryTabs.patient" slot="fixed" (ionRefresh)="getLateTasks($event, 3)" style="z-index: 9999;">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="container-margin">
    <ion-label class="header custom-semi-bold" >Überfällige Aufgaben</ion-label>
    <div *ngFor="let task of tasksLate">
      <app-late-aufgaben-card
      [taskName]="task.ActivityName"
      [roomName]="task.RoomName"
      [patientName]="task.PatientName"
      [lateAmount]="task.TimaLated"
      [activity]="task.ActivityObj"
      [searchQuery]="searchQuery"
      ></app-late-aufgaben-card>
    </div>
  </div>

  <div *ngIf="currentTab === secondaryTabs.ungrouped" class="h-auto">
    <app-user-tasks *ngFor="let task of tasksUngrouped"
    [grouping]="'ungrouped'"
    [task]="task"
    [searchQuery]="searchQuery"></app-user-tasks>
  </div>

  <div *ngIf="currentTab === secondaryTabs.room" class="h-auto">
    <app-user-tasks *ngFor="let task of tasksRoom" 
    [grouping]="'room'" 
    [task]="task"
    [searchQuery]="searchQuery"></app-user-tasks>
  </div>

  <div *ngIf="currentTab === secondaryTabs.patient" class="h-auto">
    <app-user-tasks *ngFor="let task of tasksPatient"
    [grouping]="'patient'"
    [task]="task"
    [searchQuery]="searchQuery"></app-user-tasks>
  </div>

  <app-floating-action-button *ngIf="showRecorder" [screen]="screensEnum.Home" [context]="'My Tasks'"></app-floating-action-button>
</ion-content>
