

<div>
  <ion-card #meineCard class="item-card h-auto container-padding ion-no-margin d-flex align-items-center" 
  style="z-index: 11; right: 1px;" (click)="goToDocumentTask()">
    <ion-grid class="ion-no-padding ion-no-margin">
      <ion-row class="ion-no-padding ion-no-margin ion-align-items-center">
        <ion-col class="ion-no-padding ion-no-margin">
          <ion-label class="ion-no-margin custom-h2" style="display: flex; flex-direction: column;">
            <ion-label class="custom-h2 custom-semi-bold color-black1">{{activity.NameOption01 == null ?  activity.ActivityName :
                                                                        activity.NameOption01.length > 2? activity.NameOption01 : 
                                                                                                          activity.ActivityName}}</ion-label> <!--{{task.NameOption01}}-->
            <ion-label *ngIf="showExtralDetails" class="custom-h2 color-black3">{{roomName}}<span style="position: relative; top: -3px;"> . </span>{{patientName}}</ion-label>
            <!--{{task.RoomName}}-->
          </ion-label>
        </ion-col>
        <ion-col class="ion-no-padding ion-no-margin" size="auto">
          <ion-label class="custom-h2 color-black1">{{activity.TIME_PLANNED | date: datetimeFormatService.timeFormat}}</ion-label> <!--{{task.TIME_PLANNED}}-->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</div>