<ion-content>
  <ion-item>
    <ion-label>Stations</ion-label>
    <ion-select multiple="true" [value]="selectedStations">
      <ion-select-option *ngIf="let station of stations; let i = index;" value="i">{{station.LongName}}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
