<div #picker class="am-picker" style="flex-direction: row; align-items: center">
  <div *ngFor="let item of dataForRender; let i = index" class="am-picker-col">
    <div #indicator class="am-picker-col-indicator">
      <div class="before-dot" *ngIf="options.wheels[i].beforeDot"></div>
    </div>
    <div id="{{ i }}" class="am-picker-col-mask"></div>
    <div class="am-picker-col-content">
      <div
        *ngFor="let val of item; let j = index"
        id="{{ j }}"
        class="am-picker-col-item"
        [ngClass]="{'am-picker-col-item-selected': val === selectedTarget[i], 'am-picker-col-item-disabled': disabled}"
      >
        {{ val }}
      </div>
    </div>
  </div>

  <div class="am-picker-col" *ngIf="options.unit" >
    <div #indicator class="am-picker-col-indicator">
      
    </div>
    <div class="am-picker-col-mask unit"></div>
    <div class="am-picker-col-content">
      <div class="am-picker-col-item am-picker-col-item-selected nm-unit" [ngClass]="{'am-picker-col-item-disabled': disabled}">{{options.unitStr}}</div>
    </div>
  </div>
</div>

