<ion-grid class="ion-no-padding ion-no-margin room-card mb-1 mt-1">
  <ion-row class="ion-no-padding ion-no-margin card-padding">
    <ion-col class="ion-no-padding ion-no-margin d-flex justify-content-start align-items-center">
      <ion-label class="custom-h2 color-black1 custom-semi-bold">
        {{Group.RoomName}}
      </ion-label>
    </ion-col>
    <ion-col class="ion-no-padding ion-no-margin d-flex justify-content-start align-items-center mr-2" size="auto">
      <ion-button class="ion-no-padding h-auto raum-zuweisen no-ripple" [ngClass]="{'raum-zuweisen-selected': checkBoxesOnCount == Group.Content.length}" (click)="selectwholeRoom()">
        <ion-label class="mt-1 mb-1 ml-2 mr-2 custom-h4">Raum zuweisen</ion-label>
      </ion-button>
    </ion-col>
    <ion-col class="ion-no-padding ion-no-margin d-flex justify-content-start align-items-center ml-2" size="auto"
      (click)="toggleCard()">
      <ion-icon [src]="arrowDown" class="transition-duration-500" [ngClass]="{'rotated-180': showInnerBody }"></ion-icon>
    </ion-col>
  </ion-row>
  <div class="item-i" [class.opened]="showInnerBody" >
    <ion-row class="ion-no-padding ion-no-margin card-padding patient-card" *ngFor="let patient of Group.Content; let k = index;">
      <ion-col class="ion-no-padding ion-no-margin d-flex justify-content-start align-items-center">
        <ion-col class="ion-no-padding ion-no-margin d-flex justify-content-start align-items-center">
          <ion-label>
            <ion-label class="custom-h2 color-black1 custom-semi-bold">{{patient.PatientName}}</ion-label>
            <br>
            <ion-label class="custom-h3 color-black3">{{patient.RoomName}}</ion-label>
          </ion-label>
        </ion-col>
        <ion-col class="ion-no-padding ion-no-margin d-flex justify-content-start align-items-center ml-2" size="auto">
          <ion-icon #textBox class="check-box-icon" [src]="checkBoxOff" (click)="checkBoxClicked(k)"></ion-icon>
        </ion-col>
      </ion-col>
    </ion-row>
  </div>
  
</ion-grid>