.card-padding {
    padding: 16px;
}

.no-ripple {
    --background-activated: transparent;
}

.raum-zuweisen {
    --background: var(--backGround);
    --border-color: var(--primary);
    --border-width: 1px;
    --border-style: solid;
    --color: var(--primary);
    --border-radius	: 6px;
    font-size: var(--h4) !important;
}

.raum-zuweisen-selected {
    --background: var(--primary);
    --color: var(--white);
}

.room-card {
    border-color: var(--black4);
    border-width: 0.5px;
    border-style: solid;
    border-radius: var(--round);
    background-color: var(--backGround);

    box-shadow: 0 0 4px 0 rgba(218,218,218,0.2);
}

.patient-card {
    border-top-color:  var(--black4);
    border-top-width: 0.5px;
    border-top-style: solid;
    border-bottom-left-radius: var(--round);
    border-bottom-right-radius: var(--round);
    background-color: var(--backGround);
}