<ion-header class="ion-no-border" style="z-index: 99999;">
  <app-title-bar [title]="patient.FirstName + ' ' + patient.LastName"></app-title-bar>
    
  <ion-grid class="ion-no-padding ion-no-margin bk-color-light d-flex h-auto flex-column container-padding header">
    <ion-row class="ion-no-padding ion-no-margin">
      <ion-col class="ion-no-padding ion-no-margin">

        <ion-row class="ion-no-padding ion-no-margin">
          <ion-col class="ion-no-padding ion-no-margin" size="auto">
            <ion-label class="custom-h4">
              <span>Zimmer </span> <span class="custom-semi-bold">{{patient.RoomName}}</span>
            </ion-label>
          </ion-col>
          <ion-col style="text-align: end;">
            <ion-label class="custom-h4">
              {{patient.DoctorName}}
            </ion-label>
          </ion-col>
        </ion-row>
        
        <ion-row class="ion-no-padding ion-no-margin mt-1 mb-1">
          <ion-col class="ion-no-padding ion-no-margin">
            <div class="header-card container-padding">
              <div>
                <ion-grid class="ion-no-padding ion-no-margin">
                  <ion-row class="ion-no-padding ion-no-margin ion-align-items-center">
                    <ion-col class="ion-no-padding ion-no-margin ion-align-self-center">
                      <ion-label class="ion-no-margin custom-h2" style="display: flex; flex-direction: column;">
                        <ion-label class="custom-h4">{{patient.AdminNumberHospital}}</ion-label>
                        <ion-label class="custom-h1 custom-semi-bold">{{patient.FirstName}} {{patient.LastName}}</ion-label>
                        <ion-label class="custom-h4">{{patient.Diagnose}}</ion-label>
                      </ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-row class="">
                    <ion-col class="ion-align-self-center d-flex justify-content-end align-items-center" (click)="goToFullInfoProfile()">
                      <ion-label class="custom-h4 color-primary">
                        Mehr
                      </ion-label>
                      <ion-icon [src]="mehrArrow" ></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </div>
          </ion-col>
        </ion-row>
        
      </ion-col>
    </ion-row>

    <ion-row class="ion-no-padding ion-no-margin">
      <ion-col class="ion-no-padding ion-no-margin">
        <div class="mt-2 mb-2">
          <ion-label class="custom-h1 custom-semi-bold">
            Live-Daten
          </ion-label>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-no-padding ion-no-margin mt-1 mb-1 justify-content-center">
      <ion-col class="ion-no-padding ion-no-margin d-flex justify-content-between align-items-center" style="max-width: 400px;">
        <ion-label class="custom-h4 pt-1 pb-1 pl-2 pr-2 rounded-pill" 
              (click)="changeTab(0)" [ngClass]="{'color-primary bk-color-primary2': selectedTab == 0}">Vitalwerte</ion-label>
        <ion-label class="custom-h4 pt-1 pb-1 pl-2 pr-2 rounded-pill"
              (click)="changeTab(1)" [ngClass]="{'color-primary bk-color-primary2': selectedTab == 1}">Medikamente</ion-label>
        <ion-label class="custom-h4 pt-1 pb-1 pl-2 pr-2 rounded-pill"
              (click)="changeTab(2)" [ngClass]="{'color-primary bk-color-primary2': selectedTab == 2}">Aktive Aufgaben</ion-label>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-header>
<ion-content>
  <ion-refresher 
    *ngIf="selectedTab === 0" 
    slot="fixed" 
    (ionRefresh)="getPatientVitalWerte($event)" 
    style="z-index: 9999;">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-refresher 
    *ngIf="selectedTab === 1" 
    slot="fixed" 
    (ionRefresh)="getPaitentActiveMedicalTasks($event)" 
    style="z-index: 9999;">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-refresher 
    *ngIf="selectedTab === 2"
    slot="fixed" 
    (ionRefresh)="getPaitentActiveNonMedicalTasks($event)" 
    style="z-index: 9999;">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="d-flex flex-column w-100 h-100">
    <!-- Start Vitalwerte Tab -->
    <ion-grid class="ion-no-padding ion-no-margin d-none flex-column w-100 h-100 bk-color-white"
      [ngClass]="{'d-flex': selectedTab == 0}">

      <ion-row class="ion-no-padding ion-no-margin d-flex flex-column w-100 h-100">
        <ion-col class="ion-no-margin ion-no-padding pb-3 pt-3" size="auto">
          <div id="legend"></div>
        </ion-col>
        <ion-col class="ion-no-padding ion-no-margin w-100 h-100 pl-3 pr-4">
          <canvas #chart class="w-100 h-100"></canvas>
        </ion-col>
        <ion-col class="ion-no-padding ion-no-margin position-relative" style="top: -20px;" size="auto">
          <ion-row class="ion-no-padding ion-no-margin">
            <ion-col class="ion-no-padding ion-no-margin text-left" size="6">
              <ion-label class="ion-no-padding ion-no-margin graph-font pl-1">
                {{ minDate | date: datetimeFormatService.datetimeFormat}}
              </ion-label>
            </ion-col >
            <ion-col class="ion-no-padding ion-no-margin text-right" size="6">
              <ion-label class="ion-no-padding ion-no-margin graph-font pr-1">
                {{ maxDate | date: datetimeFormatService.datetimeFormat}}
              </ion-label>
            </ion-col >
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- End Vitalwerte Tab -->
  
    <!-- Start Medikamente Tab -->
    <ion-grid *ngIf="selectedTab == 1"
      class="ion-no-padding ion-no-margin d-flex flex-column bk-color-white">
      
      <ion-row class="ion-no-padding ion-no-margin bk-color-white" *ngIf="checkUserActionOnFeature('ActiveTasks(Medical)', 'Change')"> <!---->
        <ion-col class="ion-no-padding ion-no-margin d-flex justify-content-end container-padding-top container-padding-bottom"
          style="border-bottom: 1px solid var(--black4);">

          <ion-row class="container-padding-start container-padding-end" (click)="goToAddNewTask(true, false)">
            <ion-col size="auto" class="ion-no-padding d-flex align-items-center">
              <ion-icon class="custom-h1" [src]="addIcon"></ion-icon>
            </ion-col>
            <ion-col>
              <ion-label class="custom-h2 color-primary d-flex align-items-center">
                Medikament hinzufügen
              </ion-label>
            </ion-col>
          </ion-row>

        </ion-col>
        <div class="ion-margin-start black4-border-1"></div>  

      </ion-row>

      <ion-row class="ion-no-padding ion-no-margin" *ngFor="let task of medicalTasks">
        <ion-col class="ion-no-padding ion-no-margin">
          <div *ngIf="task.PerDemand !== true">
            <div> <!--container-->
              <ion-row class="container-padding ion-no-margin w-100 bk-color-white d-flex">
                <ion-col class="ion-no-padding ion-no-margin">
                  <ion-label>
                    <ion-label class="custom-h2 custom-semi-bold">{{getActivityName(task)}} | {{task.Dosage}} {{task.Unit}}</ion-label> 
                    <br>
                    <ion-label *ngIf="task.NumberOfDays == -2" class="custom-h4 color-black3">unendlich</ion-label>
                    <ion-label *ngIf="task.NumberOfDays == -1" class="custom-h4 color-black3">Ermessen Pflegekraft</ion-label>
                    <ion-label *ngIf="task.NumberOfDays > 0" class="custom-h4 color-black3">{{task.NumberOfDays}} Tage</ion-label>
                  </ion-label>
                </ion-col>

                <!-- Method Daily -->
                <ion-col *ngIf="task.MethodID == 1" class="d-flex justify-content-end align-items-center" size="auto">
                  <ion-label class="custom-h3">
                    {{task.NumberPerDay === -1 ? 'Optional' : task.NumberPerDay + ' mal tägl'}}.
                  </ion-label>
                </ion-col>
                <!-- Method Regular -->
                <ion-col *ngIf="task.MethodID == 2" class="d-flex justify-content-end align-items-center" size="auto">
                  <ion-label class="custom-h3">
                    alle {{task.EveryXhrs}} Std.
                  </ion-label>
                </ion-col>
                <!-- Method Schema -->
                <ion-col *ngIf="task.MethodID == 3" class="d-flex justify-content-end align-items-center" size="auto">
                  <ion-label class="custom-h3">
                    {{task.EveryMorning ? 1 : 0}} - {{task.EveryNoon ? 1 : 0}} - {{task.EveryEvening ? 1 : 0}}
                  </ion-label>
                </ion-col>

                <ion-col class="d-flex justify-content-end align-items-center" size="auto" 
                  > <!---->
                  <ion-icon [src]="mehrArrow" class="custom-h1" *ngIf="checkUserActionOnFeature('ActiveTasks(Medical)', 'Change')"
                  (click)="goToEditTask(task, true, true)"></ion-icon>
                </ion-col>

              </ion-row >      
            </div>
            <div class="ion-margin-start black4-border-1"></div>  
          </div>
        </ion-col>
      </ion-row>
  
      <ion-row class="container-padding-start container-padding-end ion-no-margin w-100 component d-flex"
        style="background-color: #F6F6F6;">
        <ion-col class="ion-no-padding ion-no-margin">
          <ion-label>
            Bedarfsmedikation
          </ion-label>
        </ion-col>
      </ion-row>
  
      <ion-row class="ion-no-padding ion-no-margin" *ngFor="let task of medicalTasks">
        <ion-col class="ion-no-padding ion-no-margin">
          <div *ngIf="task.PerDemand === true">
            <div> <!--container-->
              <ion-row class="container-padding ion-no-margin w-100 bk-color-white d-flex">
                <ion-col class="ion-no-padding ion-no-margin">
                  <ion-label>
                    <ion-label class="custom-h2 custom-semi-bold">{{getActivityName(task)}} | {{task.Dosage}} {{task.Unit}}</ion-label> 
                    <br>
                    <ion-label *ngIf="task.NumberOfDays == -2" class="custom-h4 color-black3">unendlich</ion-label>
                    <ion-label *ngIf="task.NumberOfDays == -1" class="custom-h4 color-black3">Ermessen Pflegekraft</ion-label>
                    <ion-label *ngIf="task.NumberOfDays > 0" class="custom-h4 color-black3">{{task.NumberOfDays}} Tage</ion-label>
                    <ion-label  class="custom-h4 color-black3 rounded ml-1 pl-1 pr-1" 
                      style="background-color: rgba(43, 89, 195, 0.15);">Bei Bedarf</ion-label>
                  </ion-label>
                </ion-col>
                <!-- Method Daily -->
                <ion-col *ngIf="task.MethodID == 1" class="d-flex justify-content-end align-items-center" size="auto">
                  <ion-label class="custom-h3">
                    {{task.NumberPerDay === -1 ? 'Optional' : task.NumberPerDay + ' mal tägl'}}.
                  </ion-label>
                </ion-col>
                <!-- Method Regular -->
                <ion-col *ngIf="task.MethodID == 2" class="d-flex justify-content-end align-items-center" size="auto">
                  <ion-label class="custom-h3">
                    alle {{task.EveryXhrs}} Std.
                  </ion-label>
                </ion-col>
                <!-- Method Schema -->
                <ion-col *ngIf="task.MethodID == 3" class="d-flex justify-content-end align-items-center" size="auto">
                  <ion-label class="custom-h3">
                    {{task.EveryMorning ? 1 : 0}} - {{task.EveryNoon ? 1 : 0}} - {{task.EveryEvening ? 1 : 0}}
                  </ion-label>
                </ion-col>

                <ion-col class="d-flex justify-content-end align-items-center" size="auto" 
                  > <!---->
                  <ion-icon [src]="mehrArrow" class="custom-h1"
                  *ngIf="checkUserActionOnFeature('ActiveTasks(Medical)', 'Change')
                        && (isDoctorUser() || (!task.Doctors && !isDoctorUser()))"
                  (click)="goToEditTask(task, true, true)"></ion-icon>
                </ion-col>

              </ion-row >      
            </div>
            <div class="ion-margin-start black4-border-1"></div>  
          </div>
        </ion-col>
      </ion-row>
      
    </ion-grid>
    <!-- End Medikamente Tab -->
  
    <!-- Start Aktive Aufgaben Tab -->
    <ion-grid *ngIf="selectedTab == 2"
      class="ion-no-padding ion-no-margin d-flex flex-column bk-color-white">

      <ion-row class="ion-no-padding ion-no-margin bk-color-white" *ngIf="checkUserActionOnFeature('ActiveTasks(Non-Medical)', 'Change')">
        <ion-col class="ion-no-padding ion-no-margin d-flex justify-content-end container-padding-top container-padding-bottom"
          style="border-bottom: 1px solid var(--black4);">

          <ion-row class="container-padding-start container-padding-end" (click)="goToAddNewTask(false, false)">
            <ion-col size="auto" class="ion-no-padding d-flex align-items-center">
              <ion-icon class="custom-h1" [src]="addIcon"></ion-icon>
            </ion-col>
            <ion-col>
              <ion-label class="custom-h2 color-primary d-flex align-items-center">
                Aufgabe hinzufügen
              </ion-label>
            </ion-col>
          </ion-row>
          
        </ion-col>
      </ion-row>
      
      <ion-row class="ion-no-padding ion-no-margin" *ngFor="let task of nonMedicalTasks">
        <ion-col class="ion-no-padding ion-no-margin">
          <div>
            <div> <!--container-->
              <ion-row class="container-padding ion-no-margin w-100 bk-color-white d-flex">
                <ion-col class="ion-no-padding ion-no-margin">
                  <ion-label class="d-flex flex-column">
                    <ion-label class="custom-h2 custom-semi-bold">{{getActivityName(task)}}</ion-label>

                    <ion-label *ngIf="task.NumberOfDays == -2" class="custom-h4 color-black3">unendlich</ion-label>
                    <ion-label *ngIf="task.NumberOfDays == -1" class="custom-h4 color-black3">Ermessen Pflegekraft</ion-label>
                    <ion-label *ngIf="task.NumberOfDays > 0" class="custom-h4 color-black3">{{task.NumberOfDays}} Tage</ion-label>
                  </ion-label>
                </ion-col>
                
                <ion-col *ngIf="task.MethodID == 1" class="d-flex justify-content-end align-items-center" size="auto">
                  <ion-label class="custom-h3">
                    {{task.NumberPerDay === -1 ? 'Optional' : task.NumberPerDay + ' mal tägl'}}.
                  </ion-label>
                </ion-col>
                <!-- Method Regular -->
                <ion-col *ngIf="task.MethodID == 2" class="d-flex justify-content-end align-items-center" size="auto">
                  <ion-label class="custom-h3">
                    alle {{task.EveryXhrs}} Std.
                  </ion-label>
                </ion-col>
                <!-- Method Schema -->
                <ion-col *ngIf="task.MethodID == 3" class="d-flex justify-content-end align-items-center" size="auto">
                  <ion-label class="custom-h3">
                    {{task.EveryMorning ? 1 : 0}} - {{task.EveryNoon ? 1 : 0}} - {{task.EveryEvening ? 1 : 0}}
                  </ion-label>
                </ion-col>

                <ion-col class="d-flex justify-content-end align-items-center" size="auto" 
                  *ngIf="checkUserActionOnFeature('ActiveTasks(Non-Medical)', 'Change')
                          && (isDoctorUser() || (!task.Doctors && !isDoctorUser()))">
                  <ion-icon [src]="mehrArrow" class="custom-h1" (click)="goToEditTask(task, false, true)"></ion-icon>
                </ion-col>

              </ion-row >      
            </div>
            <div class="ion-margin-start black4-border-1"></div>  
          </div>
        </ion-col>
      </ion-row>
  
    </ion-grid>
    <!-- End Aktive Aufgaben Tab -->
  </div>

</ion-content>
