<ion-label class="custom-h2 custom-semi-bold">{{activityName}}</ion-label>
<div *ngFor="let control of controls; let i = index">
  
  <ion-grid *ngIf="control.type === 'textbox'" 
  class="ion-no-padding ion-no-margin container-padding-bottom container-padding-top">
    <ion-row class="ion-no-padding ion-no-margin">
      <ion-col class="ion-no-padding ion-no-margin">
        <ion-label class="custom-h2 custom-semi-bold">{{control.label}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding ion-no-margin">
      <ion-col class="input ion-no-padding">
        <ion-input class="color-black1 custom-h2 ion-no-margin" mode="md" [disabled]="disabled"
        required="true" type="text" placeholder="" (ionChange)="inputChange($event, i)"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="control.type === 'formula'" 
  class="ion-no-padding ion-no-margin container-padding-bottom container-padding-top">
    <ion-row class="ion-no-padding ion-no-margin">
      <ion-col class="ion-no-padding ion-no-margin">
        <ion-label class="custom-h2 custom-semi-bold" style="color: rgb(109, 99, 99);">{{control.label}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding ion-no-margin">
      <ion-col class="input ion-no-padding">
        <ion-input class="color-black1 custom-h2 ion-no-margin" mode="md" [disabled]="true"
        required="true" type="text" placeholder="" (ionChange)="inputChange($event, i)" [value]="control.value"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="control.type === 'number'" 
  class="ion-no-padding ion-no-margin container-padding-bottom container-padding-top">
    <ion-row class="ion-no-padding ion-no-margin">
      <ion-col class="ion-no-padding ion-no-margin">
        <ion-label class="custom-h2 custom-semi-bold">{{control.label}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding ion-no-margin">
      <ion-col class="input ion-no-padding">
        <ion-input class="color-black1 custom-h2 ion-no-margin" mode="md" [disabled]="disabled"
        required="true" type="{{control.type}}" placeholder="" (ionChange)="inputChange($event, i)"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="control.type === 'multiline'" 
  class="ion-no-padding ion-no-margin container-padding-bottom container-padding-top">
    <ion-row class="ion-no-padding ion-no-margin">
      <ion-col class="ion-no-padding ion-no-margin">
        <ion-label class="custom-h2 custom-semi-bold">
          {{control.label}}
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding ion-no-margin">
      <ion-col class="ion-no-padding ion-no-margin d-flex align-items-center">
        <ion-textarea class="input custom-h2 h-auto ion-no-padding ion-no-margin p-2 w-100" inputmode="text" rows="5" [disabled]="disabled"
        style="min-width: 100%; min-height: 77px;" placeholder="hier eingeben" [(ngModel)]="controlValues[i]" (ionChange)="inputChange($event, i)"></ion-textarea>
      </ion-col>
      <ion-col class="ion-no-padding ion-no-margin pl-2 d-flex align-items-start" size="auto">
        <ion-img class="custom-h1" style="width: 38px; height: 38px;" 
        (click)="disabled ? '' : Record(i)"
        [src]="voiceRecorderInactive"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="control.type === 'dropdown list'" class="ion-no-padding ion-no-margin container-padding-bottom container-padding-top">
    <ion-row class="ion-no-padding ion-no-margin">
      <ion-col class="ion-no-padding ion-no-margin d-flex align-items-center" size="auto">
        <ion-label class="custom-h2 custom-semi-bold">
          {{control.label}}  
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding ion-no-margin">
      <ion-col class="ion-no-padding ion-no-margin d-flex align-items-center">
        <app-drop-down class="w-100" [list]="toDropDownList(control.parameters)" [inline]="true" [disabled]="disabled"
        (itemChange)="selectionChange($event, i)" [placeholder]="controlValues[i]"></app-drop-down>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="control.type === 'checkbox'" class="ion-no-padding ion-no-margin container-padding-bottom container-padding-top">
    <ion-row class="ion-no-padding ion-no-margin">
      <ion-col class="ion-no-padding ion-no-margin d-flex align-items-center">
        <app-multi-check-box class="w-100" 
          [header]="control.label" 
          (onChange)="selectionChange($event, i)" 
          [list]="control.parameters"
          [disabled]="disabled"></app-multi-check-box>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="control.type === 'option'" class="ion-no-padding ion-no-margin container-padding-bottom container-padding-top">
    <ion-row class="ion-no-padding ion-no-margin">
      <ion-col class="ion-no-padding ion-no-margin d-flex align-items-center">
        <app-radio-group class="w-100" 
          [header]="control.label" 
          [list]="control.parameters" 
          [disabled]="disabled"
          (onChange)="selectionChange($event, i)"></app-radio-group>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>