<ion-label class="ion-no-margin ion-no-padding custom-semi-bold custom-h2">
  {{header}}
</ion-label>
<ion-radio-group mode="md" [(ngModel)]="selectedValue"  class="bk-color-white">
  <ion-list>
    <ion-item  *ngFor="let item of list; let i = index" [disabled]="disabled" style="--background: transparent;" lines="none">
      <ion-radio (click)='changeItem(i)' [value]="item"></ion-radio>
      <ion-label class="d-flex align-items-center m-1 pl-1">
        {{item}}
      </ion-label>
    </ion-item>
  </ion-list>
  <!--<ion-grid>
    
    <!--<ion-row *ngFor="let item of list; let i = index">
      <ion-col size="auto" class="d-flex align-items-center ion-no-padding ion-no-margin">
        <ion-radio id="{{'item-' + i}}" (click)="changeItem(i)" [disabled]="disabled"></ion-radio>
      </ion-col>
      <ion-col class="d-flex align-items-center m-1 pl-1">
        <ion-label class="custom-h2">{{item}}</ion-label>
      </ion-col>
    </ion-row>--
  </ion-grid>-->
</ion-radio-group>