<ion-content class="bk-color-white">
  <app-title-bar [title]="'Patientendaten'"></app-title-bar>
    
  <ion-grid class="ion-no-padding ion-no-margin d-flex flex-column container-padding">
    <ion-row class="ion-no-padding ion-no-margin mt-1 mb-1">
      <ion-col class="ion-no-padding ion-no-margin">
        <ion-label class="ion-no-margin custom-h2" style="display: flex; flex-direction: column;">
          <ion-label class="custom-h4">{{patient.AdminNumberHospital}}</ion-label>
          <ion-label class="custom-h1 custom-semi-bold">{{patient.FirstName}} {{patient.LastName}}</ion-label>
          <ion-label class="custom-h4">{{patient.Diagnose}}</ion-label>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="ion-no-padding ion-no-margin">
      <ion-col class="ion-no-padding ion-no-margin">
        <div class="d-flex w-100 h-100 date-card">
          <div class="w-50 container-padding">
            <ion-label class="d-flex flex-column custom-h4">
              <ion-label class="color-black3">
                Einweisungsdatum
              </ion-label>
              <ion-label class="color-black1 custom-semi-bold">
                {{patient.DateOnboarding | date: datetimeFormatService.dateFormat}}
              </ion-label>
            </ion-label>
          </div>
          <div class="container-margin-top container-margin-bottom inside-card-border"></div>
          <div class="w-50 container-padding">
            <ion-label class="d-flex flex-column custom-h4">
              <ion-label class="color-black3">
                Datum Op
              </ion-label>
              <ion-label class="color-black1 custom-semi-bold">
                {{patient.DateDischarge | date: datetimeFormatService.dateFormat}}
              </ion-label>
            </ion-label>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="dividor"></div>
  
  <ion-grid class="ion-no-padding ion-no-margin container-padding">
    <ion-row class="ion-no-margin">
      <ion-col class="d-flex align-items-center ion-no-padding ion-no-margin" size="auto">
        <ion-icon class="custom-h1" [src]="document"></ion-icon>
      </ion-col>
      <ion-col class="d-flex align-items-center ion-no-padding ion-no-margin container-padding-start container-padding-end">
        <ion-label class="custom-h3">Dokumentierte Aufgaben</ion-label>
      </ion-col>
      <ion-col class="d-flex align-items-center ion-no-padding ion-no-margin" size="auto">
        <ion-icon class="custom-h1" [src]="rightArrow" (click)="goToDocumentedTasks()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="dividor"></div>

  <div class="container-padding-start container-padding-end bk-color-light">
    <ion-label>Persönliche Daten</ion-label>
  </div>

  <ion-grid class="ion-no-padding ion-no-margin">
    <ion-row class="container-padding ion-no-margin">
      <ion-col class="d-flex justify-content-start align-items-center ion-no-padding ion-no-margin">
        <ion-label class="custom-h3">
          Geburtsdatum
        </ion-label>
      </ion-col>
      <ion-col class="d-flex justify-content-end align-items-center ion-no-padding ion-no-margin">
        <ion-label class="custom-h3">
          {{patient.BirthDate | date: datetimeFormatService.dateFormat}}
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="container-padding ion-no-margin">
      <ion-col class="d-flex justify-content-start align-items-center ion-no-padding ion-no-margin">
        <ion-label class="custom-h3">
          Geschlecht
        </ion-label>
      </ion-col>
      <ion-col class="d-flex justify-content-end align-items-center ion-no-padding ion-no-margin">
        <ion-label class="custom-h3">
          {{patient.Gender}}
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="container-padding ion-no-margin">
      <ion-col class="d-flex justify-content-start align-items-center ion-no-padding ion-no-margin">
        <ion-label class="custom-h3">
          Gewicht
        </ion-label>
      </ion-col>
      <ion-col class="d-flex justify-content-end align-items-center ion-no-padding ion-no-margin">
        <ion-label class="custom-h3">
          {{patient.Weight}} kg
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="container-padding ion-no-margin">
      <ion-col class="d-flex justify-content-start align-items-center ion-no-padding ion-no-margin">
        <ion-label class="custom-h3">
          Sprachen
        </ion-label>
      </ion-col>
      <ion-col class="d-flex justify-content-end align-items-center ion-no-padding ion-no-margin">
        <ion-label class="custom-h3">
          {{patient.SpokenLanguages}}
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="container-padding ion-no-margin">
      <ion-col class="d-flex justify-content-start align-items-center ion-no-padding ion-no-margin">
        <ion-label class="custom-h3">
          Versicherung
        </ion-label>
      </ion-col>
      <ion-col class="d-flex justify-content-end align-items-center ion-no-padding ion-no-margin">
        <ion-label class="custom-h3">
          {{patient.Insurance}}
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="container-padding ion-no-margin">
      <ion-col class="d-flex justify-content-start align-items-center ion-no-padding ion-no-margin">
        <ion-label class="custom-h3">
          Versicherungsnummer
        </ion-label>
      </ion-col>
      <ion-col class="d-flex justify-content-end align-items-center ion-no-padding ion-no-margin">
        <ion-label class="custom-h3">
          {{patient.InsuranceNo}}
        </ion-label>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
