<ion-header class="no-boxshadow">
  <ion-toolbar class="no-boxshadow ion-no-padding">
    <app-title-bar class="w-100" [title]="activity.NameOption01 > 0 ? activity.NameOption01 : activity.ActivityName"></app-title-bar>
  </ion-toolbar>
</ion-header>

<ion-content class="bk-color-white container-padding">
  <div class="d-flex align-items-center flex-column w-100 h-100" *ngIf="activity">

    <ion-grid class="ion-no-padding ion-no-margin d-flex flex-column w-100 justify-content-around" style="flex-grow: 6;">
      <div *ngIf="isWert()"> <!---->
        <ion-row class="ion-no-padding ion-no-margin" *ngIf="activity.InputValues > 0"> <!---->
          <ion-col class="ion-no-padding ion-no-margin">
            <ion-row class="ion-no-padding ion-no-margin">
              <ion-col class="ion-no-padding ion-no-margin">
                <ion-label class="custom-h2 custom-semi-bold pb-2">{{activity.NameOption02}}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row class="ion-no-padding ion-no-margin">
              <ion-col class="ion-no-padding ion-no-margin">
                <app-picker-view
                  [options]="taskColumns01"
                  [(ngModel)]="value01"
                  [disabled]="nonExecutable"
                ></app-picker-view>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        
        <ion-row class="mt-4" *ngIf="activity.InputValues > 1"> <!---->
          <ion-col class="ion-no-padding ion-no-margin">
            <ion-row class="ion-no-padding ion-no-margin">
              <ion-col class="ion-no-padding ion-no-margin">
                <ion-label class="custom-h2 custom-semi-bold pb-2 mt-3">{{activity.NameOption0202}}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row class="ion-no-padding ion-no-margin">
              <ion-col class="ion-no-padding ion-no-margin">
                <app-picker-view
                  [options]="taskColumns02"
                  [(ngModel)]="value02"
                  [disabled]="nonExecutable"
                ></app-picker-view>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="isFormular()">
        <ion-row class="ion-no-padding ion-no-margin">
          <ion-col class="ion-no-padding ion-no-margin">
            <ion-button class="default-button w-100" 
            [disabled]="nonExecutable" 
            (click)="openWebForm(activity.DefaultValue01)">{{'DOCUMENT_TASK.FORM' | translate}}</ion-button>
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="isOk()">
        <ion-row class="ion-no-padding ion-no-margin">
          <ion-col class="d-flex align-items-center justify-content-center">
            <ion-label class="custom-h2">offen​</ion-label>
          </ion-col>
          <ion-col class="ion-no-padding ion-no-margin d-flex align-items-center justify-content-center">
            <ion-toggle mode="ios" [disabled]="nonExecutable" [(ngModel)]="value01"></ion-toggle>
          </ion-col>
          <ion-col class="d-flex align-items-center justify-content-center">
            <ion-label class="custom-h2">erledigt​</ion-label>
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="isFreiText()">
        <ion-row class="ion-no-padding ion-no-margin">
          <ion-col class="ion-no-padding ion-no-margin">
            <ion-label class="custom-h2 custom-semi-bold">Beschreibung</ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding ion-no-margin">
          <ion-col class="input ion-no-padding">
            <ion-input class="color-black1 custom-h2 ion-no-margin" mode="md"
            required="true" placeholder="FreiText"
            [(ngModel)]="freeText"
            [disabled]="nonExecutable"></ion-input>
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="isMiniForm()">
        <app-mini-form 
          [activityName]="activity.ActivityName"
          [activityID]="activity.ActivityID" 
          [disabled]="nonExecutable"
          (onChange)="miniFormChanged($event)"></app-mini-form>
      </div>
      
    </ion-grid>

    <div class="w-100 d-flex flex-column" style="flex-grow: 2;">
      <ion-grid class="ion-no-padding ion-no-margin container-padding-bottom container-padding-top">
        <ion-row class="ion-no-padding ion-no-margin">
          <ion-col class="ion-no-padding ion-no-margin d-flex align-items-center" size="auto">
            <ion-label class="custom-h2 custom-semi-bold">
              Häufigkeit  
            </ion-label>
          </ion-col>
          <ion-col *ngIf="activity.MethodID == 1" class="ion-no-padding ion-no-margin d-flex align-items-center">
            <app-drop-down class="p-2 mt-2 mb-2 w-100" [list]="numberPerDayDDList" [inline]="true"
            [(selectedValue)]="numberPerDays" [placeholder]="numberPerDays === -1 || numberPerDays === '-1' ? 'Optional' : numberPerDays"></app-drop-down>
          </ion-col>
          <ion-col *ngIf="activity.MethodID == 1" class="ion-no-padding ion-no-margin d-flex align-items-center" size="auto">
            <ion-label> mal pro Tag</ion-label>
          </ion-col>
          <ion-col *ngIf="activity.MethodID == 2" class="ion-no-padding ion-no-margin d-flex align-items-center">
            <app-drop-down class="p-2 mt-2 mb-2 w-100" [list]="everyXHoursDDList" [inline]="true"
            [(selectedValue)]="everyXhrs" [placeholder]="everyXhrs === -1 || everyXhrs === '-1'? 'Optional' : everyXhrs"></app-drop-down> 
          </ion-col>
          <ion-col *ngIf="activity.MethodID == 2" class="ion-no-padding ion-no-margin d-flex align-items-center" size="auto">
            <ion-label> Stunden</ion-label>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="activity.MethodID == 3" class="ion-no-padding ion-no-margin">
          <ion-col class="ion-no-padding ion-no-margin">
            <app-check-box [(value)]="morning" [label]="'DOCUMENT_TASK.MORNING'"></app-check-box>
          </ion-col>

          <ion-col class="ion-no-padding ion-no-margin">
            <app-check-box [(value)]="afternone" [label]="'DOCUMENT_TASK.NOON'"></app-check-box>
          </ion-col>
          
          <ion-col class="ion-no-padding ion-no-margin">
            <app-check-box [(value)]="evening" [label]="'DOCUMENT_TASK.EVENING'"></app-check-box>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid class="ion-no-padding ion-no-margin w-100">
        <ion-row>
          <ion-col>
            <app-check-box [(value)]="nonExecutable" [label]="'DOCUMENT_TASK.NON_EXECUTABLE'" (onChange)="nonExecutableCheck()"></app-check-box>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid 
        class="ion-no-padding ion-no-margin w-100"
        *ngIf="nonExecutable">
        <ion-row>
          <ion-col>
            <app-drop-down [title]="'DOCUMENT_TASK.REASON' | translate" 
                            [list]="nonExecutableService.options" 
                            [selectedValue]="nonExecutableReason"
                            (itemChange)="onReasonChange($event)"></app-drop-down>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid class="ion-no-padding ion-no-margin container-padding-bottom container-padding-top">
        <ion-row class="ion-no-padding ion-no-margin">
          <ion-col class="ion-no-padding ion-no-margin">
            <ion-label class="custom-h2 custom-semi-bold">
              Kommentar
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding ion-no-margin">
          <ion-col class="ion-no-padding ion-no-margin d-flex align-items-center">
            <ion-textarea class="input custom-h2 h-auto ion-no-padding ion-no-margin p-2 w-100" 
            style="min-width: 100%; min-height: 77px;" placeholder="hier eingeben"
            [(ngModel)]="remarks"></ion-textarea>
          </ion-col>
          <ion-col class="ion-no-padding ion-no-margin pl-2 d-flex align-items-start" size="auto">
            <ion-img class="custom-h1" style="width: 38px; height: 38px;"
            (click)="Record()"
            [src]="voiceRecorderInactive"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid class="w-100 ion-no-padding ion-no-margin d-flex flex-column justify-content-center">
        <ion-row class="d-flex flex-row justify-content-center align-items-center">
          
          <ion-col class="h-100 d-flex flex-column justify-content-center">
            <app-check-box [(value)]="timeOverride" [label]="'DOCUMENT_TASK.TIME_OVERRIDE​'"></app-check-box>
          </ion-col>
          <ion-col *ngIf="timeOverride">
            <app-calender-picker [showOpenButton]="false" (onDateChange)="TimeOverrideDateDifferenceInMinutes = $event"></app-calender-picker>
          </ion-col>
          
          
        </ion-row>
      </ion-grid>

    </div>
    
    <div class="d-flex align-items-center w-100" style="flex-grow: 1;">
      <div class="w-100">
        <ion-button class="default-button w-100 ion-no-margin" 
        [disabled]="nonExecutable ? !reasonSelected : false"
        (click)="documentTask()">
          Speichern
        </ion-button>
      </div>
    </div>

    <!--disabled="{{selectedCardsCount == 0}}"-->

  </div>

</ion-content>
