$primary: #117a8b;
$font-weight-bold: 700;
$white: white;
$danger: #ef2929;
$dimension: 0.4em;

.cp {
    margin-top: 50px;
    padding: 0;
    border-radius: 0;
    border: 1px solid $primary;
    font-size: 1rem;
    &-dropdown {
      display: flex;
      flex-direction: column;
      &__select {
        display: block;
        background-color: rgb(241, 249, 255);
        max-height: 10em;
        min-height: 5em;
        width: 100%;
        overflow-y: scroll;
        cursor: pointer;
        &-option {
          padding: 0.75em 1em;
          margin-bottom: 0;
          color: $primary;
          background-color: transparent;
          transition: all 0.05s ease-in-out;
          &:hover {
            font-size: 1.1em;
            background-color: $white;
            box-shadow: 0 0 20px -5px black;
          }
        }
      }
    }
  }
