<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col [ngStyle]="{'display': showOpenButton? 'none' : 'block'}">
      <mat-form-field >
        <input matInput [ngxMatDatetimePicker]="picker" 
          [disabled]="false" [(value)]="value" 
          [max]="config.timeOverrideDuration"
          [min]="config.timeOverrideOffset"
          (dateChange)="dateChange($event);"> <!--(dateChange)=""-->
        <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="true"
           [touchUi]="true" [color]="'primary'" [enableMeridian]="false" 
           [disableMinute]="false" [hideTime]="false">
           <ng-template>
            <!-- <mat-icon>star</mat-icon> -->
            <mat-label>OK</mat-label>
           </ng-template>
        </ngx-mat-datetime-picker>
      </mat-form-field>
    </ion-col>
    <ion-col *ngIf="showOpenButton" class="d-flex justify-content-start align-items-center ion-no-padding">
      <ion-icon name="calendar-outline" (click)="picker.open()"></ion-icon>
    </ion-col>
  </ion-row>
</ion-grid>