<div>

  <ion-fab vertical="bottom" horizontal="end" class="fab-btn">
    <ion-fab-button mode="ios" (click)="recordButtonTrigger()">
      <ion-icon name="mic-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div *ngIf="addBlankSpace" class="blank-area"></div>
</div>