<ion-header class="no-boxshadow">
  <ion-toolbar class="no-boxshadow ion-no-padding">
    <app-title-bar class="w-100" [title]="(editMode == 'false') ? 
                                          (medical == 'false'? ((state == select) ? 'Aufgabe hinzufügen' : nonMedicalTasksDDList[selectedNonMedicalTask].text) 
                                                                : ((state == select) ? 'Medikament hinzufügen' : medicalTasksDDList[selectedMedicalTask].text)) : 
                                          activityName"></app-title-bar>
  </ion-toolbar>
</ion-header>

<ion-content class="bk-color-white container-padding">

  <div class="d-flex align-items-center flex-column w-100 h-100">

    <ion-grid class="ion-no-padding ion-no-margin d-flex align-items-center flex-column w-100 justify-content-around" 
    style="flex-grow: 2;" [ngClass]="{'h-100': editMode == 'false' && state == select}">
      
      <div *ngIf="state == select" class="w-100">
        <ion-row class="ion-no-padding ion-no-margin w-100" *ngIf="medical == 'false' && editMode == 'false'"> <!---->
          <ion-col class="ion-no-padding ion-no-margin w-100">
            <ion-row class="ion-no-padding ion-no-margin w-100">
              <ion-col class="ion-no-padding ion-no-margin w-100">
                <app-drop-down [title]="'Aufgabe'" [canSearch]="true" [list]="nonMedicalTasksDDList" 
                 [(selectedValue)]="selectedNonMedicalTask"></app-drop-down> <!--(itemChange)="selectNonMedicalTask($event)"-->
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        
        <ion-row class="ion-no-padding ion-no-margin w-100" *ngIf="medical == 'true' && editMode == 'false'">
          <ion-col class="ion-no-padding ion-no-margin w-100">
            <ion-row class="ion-no-padding ion-no-margin w-100">
              <ion-col class="ion-no-padding ion-no-margin w-100">
                <app-drop-down [title]="'Medikament'" [canSearch]="true" [list]="medicalTasksDDList"
                [(selectedValue)]="selectedMedicalTask"></app-drop-down> <!--(itemChange)="selectMedicalTask($event)" -->
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </div>

      <ion-row class="ion-no-padding ion-no-margin w-100" *ngIf="medical === 'true' && state === document">
        <ion-col class="ion-no-padding ion-no-margin d-flex align-items-center" size="auto">
          <ion-label class="custom-h2 custom-semi-bold">
            Dosierung  
          </ion-label>
        </ion-col>
        <ion-col  class="ion-no-padding ion-no-margin" size="auto"> <!---->
          <ion-input class="input mr-2 ml-2 text-center custom-h1 input-font ion-no-padding p-2 mt-2 mb-2" 
          type="number" style="width: 80px;" [(ngModel)]="dosage"></ion-input>
        </ion-col>
        <ion-col class="ion-no-padding ion-no-margin d-flex align-items-center" size="auto"> <!---->
          <ion-label class="custom-h2"> mg</ion-label>
        </ion-col>
      </ion-row>

      <div *ngIf="state == document" class="w-100">
        <ion-row class="ion-no-padding ion-no-margin w-100" *ngIf="editMode == 'false'"> <!---->
          <ion-col class="ion-no-padding ion-no-margin w-100">
            <ion-row class="ion-no-padding ion-no-margin w-100">
              <ion-col class="ion-no-padding ion-no-margin w-100">
                <app-drop-down [title]="'Plan'" [list]="Methods" [disabled]="bedarf"
                [(selectedValue)]="methodID" [placeholder]="Methods[methodID - 1].text"></app-drop-down>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </div>

    </ion-grid>

    <div class="w-100 d-flex flex-column" style="flex-grow: 2;" *ngIf="state == document">
      <ion-grid class="ion-no-padding ion-no-margin container-padding-bottom container-padding-top">
        <ion-row class="ion-no-padding ion-no-margin">
          <ion-col class="ion-no-padding ion-no-margin d-flex align-items-center" size="auto">
            <ion-label class="custom-h2 custom-semi-bold" [ngClass]="{'color-black4': bedarf}">
              Häufigkeit  
            </ion-label>
          </ion-col>
          <ion-col class="ion-no-padding ion-no-margin d-flex align-items-center" *ngIf="methodID == 1">
            <app-drop-down class="p-2 mt-2 mb-2 w-100" [list]="numberPerDayDDList" [inline]="true" [disabled]="bedarf"
            [(selectedValue)]="numberPerDays" [placeholder]="numberPerDays === -1 || numberPerDays === '-1' ? 'Optional' : numberPerDays"></app-drop-down>
          </ion-col>
          <ion-col class="ion-no-padding ion-no-margin d-flex align-items-center" size="auto" *ngIf="methodID == 1">
            <ion-label [ngClass]="{'color-black4': bedarf}"> mal pro Tag</ion-label>
          </ion-col>
          <ion-col class="ion-no-padding ion-no-margin d-flex align-items-center" *ngIf="methodID == 2">
            <app-drop-down class="p-2 mt-2 mb-2 w-100" [list]="everyXHoursDDList" [inline]="true" [disabled]="bedarf"
            [(selectedValue)]="everyXhrs" [placeholder]="everyXhrs === -1 || everyXhrs === '-1' ? 'Optional' : everyXhrs"></app-drop-down>
          </ion-col>
          <ion-col class="ion-no-padding ion-no-margin d-flex align-items-center" size="auto" *ngIf="methodID == 2">
            <ion-label [ngClass]="{'color-black4': bedarf}"> Stunden</ion-label>
          </ion-col>
        </ion-row>

        <ion-row  class="ion-no-padding ion-no-margin" *ngIf="methodID == 3">
          <ion-col class="ion-no-padding ion-no-margin">

            <ion-row class="ion-no-padding ion-no-margin" (click)="changeMorning()">
              <ion-col class="d-flex align-items-center ion-no-padding ion-no-margin" size="auto">
                <ion-icon class="custom-h1" [src]="(bedarf) ? morning ? checkBoxOnDisabled: checkBoxOffDisabled : 
                                                  (morning ? checkBoxOn : checkBoxOff)"></ion-icon>
              </ion-col>
              <ion-col class="d-flex align-items-center m-1 pl-1">
                <ion-label class="custom-h2" [ngClass]="{'color-black4': bedarf}">
                  Morgen
                </ion-label>
              </ion-col>
            </ion-row>
            
          </ion-col>
          <ion-col class="ion-no-padding ion-no-margin">

            <ion-row class="ion-no-padding ion-no-margin" (click)="changeAfternoon()">
              <ion-col class="d-flex align-items-center ion-no-padding ion-no-margin" size="auto">
                <ion-icon class="custom-h1" [src]="(bedarf) ? afternone ? checkBoxOnDisabled: checkBoxOffDisabled : 
                                                  (afternone ? checkBoxOn : checkBoxOff)"></ion-icon>
              </ion-col>
              <ion-col class="d-flex align-items-center m-1 pl-1">
                <ion-label class="custom-h2" [ngClass]="{'color-black4': bedarf}">
                  Mittag
                </ion-label>
              </ion-col>
            </ion-row>
            
          </ion-col>
          <ion-col class="ion-no-padding ion-no-margin">

            <ion-row class="ion-no-padding ion-no-margin" (click)="changeEvening()">
              <ion-col class="d-flex align-items-center ion-no-padding ion-no-margin" size="auto">
                <ion-icon class="custom-h1" [src]="(bedarf) ? evening ? checkBoxOnDisabled: checkBoxOffDisabled : 
                                                    (evening ? checkBoxOn : checkBoxOff)"></ion-icon>
              </ion-col>
              <ion-col class="d-flex align-items-center m-1 pl-1">
                <ion-label class="custom-h2" [ngClass]="{'color-black4': bedarf}">
                  Abend
                </ion-label>
              </ion-col>
            </ion-row>
            
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid class="ion-no-padding container-padding-bottom container-padding-top d-flex align-items-center flex-column w-100" 
        style="flex-grow: 0;">
        <ion-row class="ion-no-padding ion-no-margin w-100">
          <ion-col class="d-flex align-items-center ion-no-padding ion-no-margin w-100" size="auto">
            <app-drop-down [title]="'Dauer'" [list]="dauerList" [disabled]="bedarf" class="w-100"
            [(selectedValue)]="numberOfDays"
            [placeholder]="numberOfDays == -2 ? 'unendlich':
                          numberOfDays == -1 ? 'Ermessen Pflegekraft':
                          numberOfDays > 0? (numberOfDays + ' Tage') : ''"></app-drop-down>
          </ion-col>
        </ion-row>

        <ion-row class="ion-no-padding ion-no-margin w-100 container-padding-top" *ngIf="medical == 'true'"> <!---->
          <ion-col class="d-flex align-items-center ion-no-padding ion-no-margin" size="auto" (click)="changeBedarf()">
            <ion-icon class="custom-h1 gg" [src]="(bedarf) ? checkBoxOn : checkBoxOff"></ion-icon>
          </ion-col>
          <ion-col class="d-flex align-items-center m-1 pl-1">
            <ion-label class="custom-h2">
              Nach Bedarf
            </ion-label>
          </ion-col>
        </ion-row>        
      </ion-grid>

      <ion-grid class="ion-no-padding ion-no-margin container-padding-bottom container-padding-top d-flex align-items-center flex-column"
        style="flex-grow: 2;">
        <ion-row class="ion-no-padding ion-no-margin w-100">
          <ion-col class="ion-no-padding ion-no-margin">
            <ion-label class="custom-h2 custom-semi-bold">
              Kommentar
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding ion-no-margin w-100">
          <ion-col class="ion-no-padding ion-no-margin d-flex align-items-center">
            <ion-textarea class="input custom-h2 h-auto ion-no-padding ion-no-margin p-2 w-100" 
            style="min-width: 100%; min-height: 77px;" placeholder="hier eingeben"
            [(ngModel)]="remarks"></ion-textarea>
          </ion-col>
          <ion-col class="ion-no-padding ion-no-margin pl-2 d-flex align-items-start" size="auto">
            <ion-img class="custom-h1" style="width: 38px; height: 38px;"
            (click)="Record()"
            [src]="voiceRecorderInactive"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>
    
    <div class="d-flex align-items-center w-100" style="flex-grow: 1;" *ngIf="state == document && editMode == 'true'">
      <div class="w-100">
        <ion-button class="default-button w-100 ion-no-margin" (click)="updateTask()">
          Speichern
        </ion-button>
      </div>
    </div>

    <div class="d-flex align-items-center w-100" *ngIf="editMode == 'false' && state == document">
      <div  class="w-100">
        <ion-button disabled="{{state == select}}" class="default-button w-100 ion-no-margin" (click)="documentTask()">
          Speichern
        </ion-button>
      </div>
    </div>

    <div class="d-flex align-items-center w-100" *ngIf="state == select">
      <div  class="w-100">
        <ion-button disabled="{{selectedNonMedicalTask == -1 && selectedMedicalTask == -1}}"
          class="default-button w-100 ion-no-margin" (click)="goNext()">
          Weiter
        </ion-button>
      </div>
    </div>

    <!--disabled="{{selectedCardsCount == 0}}"-->

  </div>

</ion-content>