<ion-grid class="ion-no-padding ion-no-margin" *ngIf="showAllitems">
  <ion-row class="ion-no-padding ion-no-margin">
    <ion-col class="container-padding-start container-padding-end ion-no-margin" style="background-color: #EEEEEE;">
      <ion-label class="custom-h4">
        {{task.TimeStamp | date: datetimeFormatService.timeFormat}}
      </ion-label>
    </ion-col>
  </ion-row>
  <!--//zimmerTaskList: patientTaskList-->
  <div class="container-padding-start container-padding-end" *ngFor="let activity of 
                                                                        (grouping == 'ungrouped') ? task.Content:
                                                                        (grouping == 'room') ? task.zimmerTaskList:
                                                                        task.patientTaskList; let i = index;"  
    [ngClass]="{'container-padding-top': grouping == 'ungrouped' && i == 0,
              'container-padding-bottom': grouping == 'ungrouped' && i == task.Content.length - 1,
              'pt-1 pb-1': showItems[i]}">  <!--  // to be changed
                'pt-1 pb-1': i > 0 && i < task.Content.length - 1-->
                <!--*ngIf="searchQuery.includes(activity.RoomName)
                                                          || searchQuery.includes(activity.PatientName)"-->
    <div *ngIf="grouping == 'ungrouped'">
      <ion-row class="ion-no-padding ion-no-margin" *ngIf="showItems[i]"> 
        <ion-col class="ion-no-padding ion-no-margin">
          <app-task-card [activity]="activity.Task" [roomName]="activity.RoomName" 
          [patientName]="activity.PatientName" [showExtralDetails]="true"></app-task-card>
        </ion-col>
      </ion-row>
    </div>

    <ion-row class="ion-no-padding ion-no-margin" *ngIf="grouping == 'room' && showItems[i][0]">
      <ion-col class="ion-no-padding ion-no-margin border-bottom">

        <ion-row class="ion-no-padding ion-no-margin">
          <ion-col class="ion-no-padding ion-no-margin">

            <div class="container-padding-top container-padding-bottom ion-no-margin d-flex align-items-center">
              <ion-grid class="ion-no-padding ion-no-margin">
                <ion-row class="ion-no-padding ion-no-margin ion-align-items-center">
                  <ion-col class="ion-no-padding ion-no-margin">
                    <ion-label class="ion-no-margin custom-h2" style="display: flex; flex-direction: column;">
                      <ion-label class="custom-h2 custom-semi-bold color-black1">{{activity.RoomName}}</ion-label> <!--{{task.NameOption01}}-->
                      <ion-label class="custom-h2 color-black3">{{activity.ActivitiesNumber}} 
                                      <span *ngIf="activity.ActivitiesNumber === 1">Aufgabe</span> 
                                      <span *ngIf="activity.ActivitiesNumber > 1">Aufgaben</span>
                                       | {{activity.PatientsNumber}} 
                                      <span *ngIf="activity.PatientsNumber === 1">Patient</span>
                                      <span *ngIf="activity.PatientsNumber > 1">Patienten</span>
                                      </ion-label>
                      <!--{{task.RoomName}}-->
                    </ion-label>
                  </ion-col>
                  <ion-col class="ion-no-padding ion-no-margin" size="auto">
                    <ion-icon class="custom-h1 transition-duration-500" 
                    [ngClass]="{'rotated-180': selectedRoom[i] == true}" 
                    [src]="downArrow" 
                    (click)="selectRoom(i)"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>

          </ion-col>
        </ion-row>

        <div *ngIf="selectedRoom[i] == true">
          <ion-row *ngFor="let act of activity.Content; let j = index;" class="ion-no-padding ion-no-margin"
            [ngClass]="{'pt-1 pb-1': showItems[i][j + 1]}">
            <ion-col class="ion-no-padding ion-no-margin" *ngIf="showItems[i][j + 1]">
              <app-task-card [activity]="act.Task" [roomName]="act.RoomName" 
              [patientName]="act.PatientName" [showExtralDetails]="true"></app-task-card>
            </ion-col>
          </ion-row>
        </div>

      </ion-col>
    </ion-row>

    <ion-row class="ion-no-padding ion-no-margin" *ngIf="grouping == 'patient' && showItems[i][0]">
      <ion-col class="ion-no-padding ion-no-margin border-bottom">

        <ion-row class="ion-no-padding ion-no-margin">
          <ion-col class="ion-no-padding ion-no-margin">

            <div class="container-padding-top container-padding-bottom ion-no-margin d-flex align-items-center">
              <ion-grid class="ion-no-padding ion-no-margin">
                <ion-row class="ion-no-padding ion-no-margin ion-align-items-center">
                  <ion-col class="ion-no-padding ion-no-margin">
                    <ion-label class="ion-no-margin custom-h2" style="display: flex; flex-direction: column;">
                      <ion-label class="custom-h2">
                        <span class="color-black3">{{activity.RoomName}}</span>
                        <span class="color-black3" style="position: relative; top: -3px;"> . </span>
                        <span class="custom-semi-bold color-black1">{{activity.PatientName}}</span></ion-label> <!--{{task.NameOption01}}-->
                      <ion-label class="custom-h2 color-black3">{{activity.ActivitiesNumber}} 
                                                                <span *ngIf="activity.ActivitiesNumber > 1">Aufgaben</span> 
                                                                <span *ngIf="activity.ActivitiesNumber === 1">Aufgabe</span></ion-label>
                      <!--{{task.RoomName}}-->
                    </ion-label>
                  </ion-col>
                  <ion-col class="ion-no-padding ion-no-margin" size="auto">
                    <ion-icon 
                    class="custom-h1 transition-duration-500" 
                    [ngClass]="{'rotated-180': selectedRoom[i] == true}" 
                    [src]="downArrow" 
                    (click)="selectRoom(i)"
                    ></ion-icon> <!--{{task.TIME_PLANNED}}-->
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>

          </ion-col>
        </ion-row>

        <div *ngIf="selectedRoom[i] == true">
          <ion-row *ngFor="let act of activity.Content; let j = index" class="ion-no-padding ion-no-margin"
            [ngClass]="{'pt-1 pb-1': showItems[i][j + 1]}">
            <ion-col class="ion-no-padding ion-no-margin">
              <app-task-card [activity]="act" [showExtralDetails]="false" *ngIf="showItems[i][j + 1]"></app-task-card>
            </ion-col>
          </ion-row>
        </div>

      </ion-col>
    </ion-row>
  </div>

</ion-grid>
