<div class="position-relative">
  <ion-label class="custom-h2 custom-semi-bold" [ngClass]="{'color-black4': disabled}">{{title}}</ion-label>
  
  <div class="position-relative w-100" [ngClass]="{'container-margin-top': !inline}">
    <ion-grid class="ion-no-margin dropDown-button w-100 container-padding-left container-padding-right"
    [ngStyle]="{'border-color': disabled ? '#dadada' : ''}"
    [class.selected]="dropDownOn" (click)="toggleDropDown()"> <!---->
      <ion-row class="ion-no-margin ion-no-padding w-100">
        <ion-col class="ion-no-margin ion-no-padding custom-h2" [ngClass]="{'color-black4': disabled}">
          {{getPlaceholder()}}
        </ion-col> <!--.length >= 15 ? placeholder : (placeholder.substring(0,15) + ...)-->
        <ion-col class="ion-no-margin ion-no-padding d-flex align-items-center container-padding-right" size="auto">
          <ion-icon name="chevron-down-outline" color="#ffffff"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <div class="dropDown-Menu" style="background-color: #F6F6F6; border: 0.5px solid #878787;" [style.display]="displayMenu" scrollX="ture">
      <div *ngIf="canSearch" class="dropDown-item custom-h2" style="background-color: #F6F6F6; border-bottom: 0.5px solid #878787;">
        <ion-input [(ngModel)]="searchTerm" [placeholder]="'Search'"></ion-input>
      </div>
      <div class="dropDown-item custom-h2" *ngFor="let item of list | dropDownListFilter:searchTerm; let j = index" (click)="itemSelected(item.index)">{{item.text}}</div>
      <div *ngIf="list.length === 0" class="dropDown-item custom-h2 test-center">{{'COMMON.NO_DATA' | translate}}</div>
    </div>
  </div>
  <div class="position-absolute h-100 w-100" [style.display]="displayMenu" style="top: 0px; right: 0px; z-index: 999;" (click)="toggleDropDown()"></div>
</div>
