.dropDown-button {
    //border: 0.5px solid #878787;
    border-width: 0.5px;
    border-style: solid;
    border-color: #878787;
    border-radius: 12px;
    height: 40.5px;
    display: flex;
    align-items: center;
  }
  
.dropDown-Menu {
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    margin-top: 7px;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #878787;
    border-radius: 12px;
    width: 100%;
    min-height: fit-content;
    max-height: 130px;
    overflow-y: auto;
}

.dropDown-button.selected {
    border: 3px solid rgba(0, 165, 171, 0.27);
    //opacity: 0.27;
}

.dropDown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}