<div>

  <ion-label class="ion-no-margin ion-no-padding custom-semi-bold custom-h2" *ngIf="header">
    {{header | translate}}
  </ion-label>
  <ion-grid class="ion-no-padding ion-no-margin w-100 h-100" (click)="onClick()">
    <ion-row class="ion-no-padding ion-no-margin">
      <ion-col class="d-flex align-items-center ion-no-padding ion-no-margin" size="auto">
        <ion-icon class="custom-h1" [src]="getIconSrc()"></ion-icon>
      </ion-col>
      <ion-col class="d-flex align-items-center m-1 pl-1" *ngIf="label">
        <ion-label class="custom-h2">
          {{label | translate}}
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</div>