<ion-content class="container-padding">
  <ion-refresher *ngIf="currentTab === secondaryTabs.my" slot="fixed" (ionRefresh)="getMeinePatient($event)" style="z-index: 9999;">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-refresher *ngIf="currentTab === secondaryTabs.all" slot="fixed" (ionRefresh)="getAllePatient($event)" style="z-index: 9999;">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-refresher *ngIf="currentTab === secondaryTabs.free" slot="fixed" (ionRefresh)="getfreiePatient($event)" style="z-index: 9999;">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="d-flex justify-content-center w-100" [ngClass]="{'h-100': patientService.myPatients.length === 0, 'h-auto': patientService.myPatients.length !== 0}">
    <!--Start Meine -->

    <div class="d-flex flex-column align-items-center max-form-width h-100 w-100" *ngIf="currentTab === secondaryTabs.my"
      [ngClass]="{'justify-content-center': patientService.myPatients.length == 0}">

      <ion-icon *ngIf="patientService.myPatients.length == 0" class="mb-1" [src]="emptyIcon" style="height: 42px; width: 50px;"></ion-icon>
      <ion-label *ngIf="patientService.myPatients.length == 0" class="mb-1 mt-1 custom-h2">Du hast noch keine Patienten</ion-label>
      <ion-button *ngIf="currentTab == secondaryTabs.my && canAssignUnAssignPatients()" 
        class="add-new-patient-btn no-boxshadow ion-no-margin"
        id="button-assign_patient"
        (click)="createAddPatientsModel()" [ngClass]="{'w-100': patientService.myPatients.length > 0, 'w-75': patientService.myPatients.length == 0}">
        + Patient zuweisen
      </ion-button>
      
      <div *ngIf="patientService.myPatients.length > 0" class="w-100">
        <div class="ion-no-margin w-100" *ngFor="let Group of (searchService.searchOnFocus ? patientService.searchInMeinePatients(searchQuery)
                                                                                            : patientService.myPatients); let i = index"> <!--patientService.searchInMeinePatients(searchQuery) -->
          <div class="ion-no-margin w-100">
            <div class="mb-3 mt-3">
              <ion-grid class="ion-no-padding ion-no-margin" lines="none">
                <ion-row>
                  <ion-col>
                    <ion-label class="ion-no-padding ion-no-margin custom-h2 custom-semi-bold">{{Group.RoomName}}</ion-label>
                  </ion-col>
                  <ion-col class="flex-end-center">
                    <ion-icon class="ion-no-padding ion-no-margin normal-icon transition-duration-500" 
                      [ngClass]="{'rotated-180': showInnerBody[Group.RoomName]}" [src]="arrowDown" (click)="showRoomPatients(Group.RoomName)"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
            
            <div class="collapse" [ngClass]="{'show': showInnerBody[Group.RoomName]}">
              <div *ngFor="let content of Group.Content; let j = index">
                <div>
                  <app-card-item [swapableCard]="canAssignUnAssignPatients() ? true : false" [index]="((i * Group.Content.length) + j)" 
                  [navToProfile]="true" [patient]="content.Patient" [Cares]="content.CareGiversImgs" [roomName]="Group.RoomName" [(selectedIndex)]="selectedCardIndex"
                  (delete)="deleteMe($event)"></app-card-item>
                </div>
              </div>
            </div>
          
            <div style="margin-top: 10px; border-bottom: 1px solid #DADADA;"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- End Menie -->


    <!-- Start Alle-->

    <div class="max-form-width w-100" *ngIf="currentTab === secondaryTabs.all && patientService.searchInAllPatients.length > 0 && !isDoctorUser()">
      <div class="w-100" *ngFor="let content of (searchService.searchOnFocus ? patientService.searchInAllPatients(searchQuery) : patientService.allPatients); let i = index">
        <app-card-item
        [swapableCard]="false" [navToProfile]="false" [index]="i" 
        [patient]="content.Patient" [Cares]="content.CareGiversImgs" [selectedIndex]="selectedCardIndex"
        [roomName]="content.RoomName" (delete)="deleteMe($event)"></app-card-item>
      </div>
    </div>

    <!-- End Alle -->


    <!-- Start Freie -->

    <div class="max-form-width w-100" *ngIf="currentTab == secondaryTabs.free && patientService.freePatients.length > 0 && !isDoctorUser()">
      <div *ngFor="let content of (searchService.searchOnFocus ? patientService.searchInFreePatients(searchQuery) 
                                                              : patientService.freePatients); let i = index">
        <app-card-item
        [swapableCard]="false" [navToProfile]="false" [index]="i" [patient]="content.Patient" 
        [Cares]="content.CareGiversImgs" [selectedIndex]="selectedCardIndex"
        [roomName]="content.RoomName" (delete)="deleteMe($event)"></app-card-item>
      </div>
    </div>
    
    <!-- End Freie-->
  </div>

  <app-floating-action-button *ngIf="showRecorder" [screen]="screensEnum.Home" [context]="'patient'"></app-floating-action-button>
</ion-content>
