<div *ngIf="group" class="w-100">
  <div class="ion-no-margin w-100">
    <div class="ion-no-margin w-100"> <!--*ngIf="showItems[i][0] === true"-->

      <div class="mb-3 mt-3">
        <ion-grid class="ion-no-padding ion-no-margin" lines="none">
          <ion-row>
            <ion-col>
              <ion-label class="ion-no-padding ion-no-margin custom-h2 custom-semi-bold">{{group.RoomName}}</ion-label>
            </ion-col>
            <ion-col class="flex-end-center">
              <!--<ion-icon class="ion-no-padding ion-no-margin normal-icon transition-duration-500" 
                [ngClass]="{'rotated-180': InnerBodyAppear}" [src]="arrowDown" (click)="showRoomPatients(Group.RoomName)"></ion-icon>-->
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      
      <!--<div class="collapse" id="collapseExample">
        <div *ngFor="let content of group.Content; let j = index">
          <div > <!--*ngIf="showItems[i][j + 1] === true"--
            <app-card-item [swapableCard]="canAssignUnAssignPatients() ? true : false" [index]="((i * group.Content.length) + j)" 
            [navToProfile]="true" [patient]="content.Patient" [Cares]="content.CareGiversImgs" [roomName]="Group.RoomName" [selectedIndex]="selectedCardIndex"
            (delete)="deleteMe($event)"></app-card-item>
          </div>
        </div>
      </div>-->
    
      <div style="margin-top: 10px; border-bottom: 1px solid #DADADA;"></div>
    </div>
  </div>
</div>