<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-padding ion-no-margin p-2">
    <ion-buttons class="ion-no-padding ion-no-margin" [slot]="'end'">
      <ion-icon [src]="close" class="close-icon" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  
    <ion-title class="header--primary">
      <ion-label class="header ion-margin">Patient bestätigen</ion-label> <!--Patientenübersicht -->
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let patient of mainPatients; let i = index;">
      <ion-col>
        <app-short-patient-card [name]="patient.name" [extraInfo]="(patient.task_id === 0 ? '(' + patient.task_id + ')' : '')" (click)="navToTaskPage(patient.task_id)"></app-short-patient-card>
      </ion-col>
    </ion-row>
    
    <div *ngIf="showOtherPatinet">
      <ion-row *ngFor="let patient of otherPatients; let i = index;">
        <ion-col>
          <app-short-patient-card [name]="patient.name" [extraInfo]="(patient.task_id === 0 ? '(' + patient.task_id + ')' : '')" (click)="navToTaskPage(patient.task_id)"></app-short-patient-card>
        </ion-col>
      </ion-row>
    </div>
    <ion-item lines="none">
      <ion-label>Alle Patienten zeigen</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="showOtherPatinet"></ion-checkbox>
    </ion-item>
    <ion-row [ngStyle]="{'height': ((windowHeight/2).toString() + 'px')}">
    </ion-row>
  </ion-grid>
</ion-content>
