<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-padding">
    <app-title-bar [title]="'Dokumentierte Aufgaben'"></app-title-bar>
    <div class="container-padding">
      <ion-label>
        <ion-label [ngClass]="{'color-primary': selectedUpperPatientTab == 1}" (click)="taskTabClicked(1)">Alle</ion-label>
        <ion-label class="ion-margin"></ion-label>
        <ion-label [ngClass]="{'color-primary': selectedUpperPatientTab == 2}" (click)="taskTabClicked(2)">Medikamente</ion-label>
      </ion-label>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="bk-color-light">
  <ion-refresher 
  *ngIf="(selectedUpperPatientTab === 1)"
  slot="fixed" (ionRefresh)="getAllDocumentedTasks($event)" 
  style="z-index: 9999;">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-refresher
  *ngIf="(selectedUpperPatientTab === 2)"
  slot="fixed" 
  (ionRefresh)="getMedicineDocumentedTasks($event)" 
  style="z-index: 9999;">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid class="ion-no-margin ion-no-padding container-padding-bottom container-margin-start container-margin-end" 
  *ngFor="let taks of (selectedUpperPatientTab == 1) ? allTasks : medicineTasks; let i = index" style="border-bottom: 0.5px solid #BDBDBD"> 
    <ion-row class="ion-no-padding ion-no-margin" [ngClass]="{'container-padding-top': i > 0}">
      <ion-col class="d-flex justify-content-start align-items-center ion-no-padding ion-no-margin mb-2">
        <ion-label class="custom-h4 custom-semi-bold" 
          type="button" 
          data-toggle="collapse" 
          [attr.data-target]="'#body-' + i" 
          aria-expanded="false" 
          [attr.aria-controls]="'body-' + i"> <!--(click)="openRelatedCardsExtension(taks.TimeStamp)"-->
          {{taks.TimeStamp | date: datetimeFormatService.dateFormat}}
        </ion-label>
      </ion-col>
    </ion-row>

    <div *ngFor="let task of taks.Activities; let j = index" class="mt-2 mb-2 container-padding bk-color-white card-radius">
      <ion-row class="ion-no-padding ion-no-margin">
        <ion-col *ngIf="task.TimeOverridden !== true" class="d-flex justify-content-start align-items-center ion-no-padding ion-no-margin pr-1" size="auto">
          <app-calender-picker [showOpenButton]="true" (onDateChange)="overrideTime($event,i,j, task.ID)"></app-calender-picker>
        </ion-col>
        <ion-col class="d-flex justify-content-start align-items-center ion-no-padding ion-no-margin" size="auto"> 
          <ion-label *ngIf="task.DocumentationIcon == 'a'" class="custom-h3 mr-2 custom-semi-bold" style="color: #325FE3;">
            Adhoc
          </ion-label>
          <ion-label *ngIf="task.DocumentationIcon == 'e'" class="custom-h3 mr-2 custom-semi-bold" style="color: #0090C6;">
            Ereignis
          </ion-label>
        </ion-col>
        <ion-col class="d-flex justify-content-start align-items-center ion-no-padding mr-2">
          <ion-label class="custom-h3 custom-semi-bold">
            {{task.ActivityName}} 
          </ion-label>
        </ion-col>
        <ion-col class="d-flex justify-content-start align-items-center ion-no-padding ion-no-margin" size="auto">
          <ion-label class="custom-h3">
            {{task.CreationDate | date:datetimeFormatService.timeFormat}}
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row id="{{'body-' + i}}" class="collapse ion-no-padding ion-no-margin" > <!--item-i [class.opened]="dateClicked[taks.TimeStamp]"-->
        <ion-col class="ion-no-padding ion-no-margin">
          
          <ion-row class="ion-no-padding ion-no-margin">
            <ion-col class="ion-no-padding ion-no-margin">
              <ion-label class="custom-h3 w-100 pr-4">{{task.UserToComplete}}</ion-label>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="task.NonExecutable else ExecutableTask" class="ion-no-padding ion-no-margin">
            <ion-col class="ion-no-padding ion-no-margin">
              <ion-label class="custom-h3 w-100" >{{task.Value}}</ion-label>
            </ion-col>
          </ion-row>

          <ng-template #ExecutableTask>
            <ion-row *ngIf="isMiniFormular(task.DocType)" class="ion-no-padding ion-no-margin">
              <ion-col class="ion-no-padding ion-no-margin">
                <ion-label class="custom-h3 w-100" style="white-space: break-spaces;">{{task.Value}}</ion-label>
              </ion-col>
            </ion-row>
  
            <ion-row *ngIf="isWert(task.DocType)" class="ion-no-padding ion-no-margin">
              <ion-col class="ion-no-padding ion-no-margin">
                <ion-label class="custom-h3 w-100" >{{task.Value}} {{task.Unit}}</ion-label>
              </ion-col>
            </ion-row>
  
            <ion-row *ngIf="isFormular(task.DocType)">
              <ion-col>
                <ion-label
                class="custom-h3 w-100 color-primary"
                (click)="openForm(task.Value, task.PatientID, task.IncidentID)"
                >Formular</ion-label>
              </ion-col>
            </ion-row>
          </ng-template>

          <ion-row class="ion-no-padding ion-no-margin">
            <ion-col class="d-flex justify-content-start align-items-center ion-no-padding">
              <ion-label class="custom-h3 w-100">
                {{task.Remarks}} 
              </ion-label>
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>

    </div>

  </ion-grid>
</ion-content>
