.card-padding {
    padding: 16px;
}

.transparent-item {
    border-color: transparent;
    border-width: 0px;
    background-color: transparent;
    --background: transparent;
    --border-color: transparent;
    --border-width: 0px;
    --color: transparent;
    --border-radius	: 0px;
}