<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-padding ion-no-margin">
    <ion-grid class="container-padding ion-no-margin">
      <ion-row class="ion-no-padding ion-no-margin">
        <ion-col class="ion-no-padding ion-no-margin d-flex justify-content-end">
          <ion-icon [src]="close" class="close-icon" (click)="dismiss()"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="ion-no-padding ion-no-margin">
        <ion-col class="ion-no-padding ion-no-margin d-flex justify-content-center">
          <ion-label class="header ion-margin">Patient zuweisen</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="ion-no-padding ion-no-margin ion-margin-bottom">
        <ion-col class="ion-no-padding ion-no-margin">
          <ion-label class="custom-h4">
            <ion-label [ngClass]="{'color-primary': selectedUpperPatientTab == 1}" (click)="tabClicked(1)">Zimmer</ion-label>
            <ion-label class="ion-margin"></ion-label>
            <ion-label [ngClass]="{'color-primary': selectedUpperPatientTab == 2}" (click)="tabClicked(2)">Pflegekräfte</ion-label>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="ion-no-padding ion-no-margin">
        <ion-col class="ion-no-padding ion-no-margin">
          <ion-searchbar style="display: contents;" class="search-bar"></ion-searchbar>
        </ion-col>
      </ion-row>
      
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content > <!--class="container-padding-top container-padding-start container-padding-end"-->

  <div class="container-padding-top container-padding-start container-padding-end">
    <div *ngIf="selectedUpperPatientTab == 1" >
      <div *ngFor="let group of patientsGroupedByRoom">
        <app-add-patient-room-card [Group]="group" [ModuleNumber]="getModuleNumber()"></app-add-patient-room-card>
      </div>
    </div>
  
    <div *ngIf="selectedUpperPatientTab == 2">
      <div *ngFor="let group of patientsGroupedByUser">
        <app-add-patient-care-card [group]="group" [ModuleNumber]="getModuleNumber()"></app-add-patient-care-card> <!--[ModuleNumber]="getModuleNumber()" -->
      </div>
    </div>
  
    <div class="container-padding w-100 transparent-item">
      <ion-button disabled="true" class="default-button w-100 ion-no-margin transparent-item">
        Zuweisen
      </ion-button>
    </div>
  </div>
  
  <div #fixedButton id="fixedButton" class="container-padding w-100 bk-color-white" style="bottom: 0px; box-shadow: 0 -2px 13px 0 rgba(0,0,0,0.15)">
    <ion-button class="default-button w-100 ion-no-margin" disabled="{{selectedCardsCount == 0}}" (click)="connectPatients()">
      Zuweisen
    </ion-button>
  </div>
</ion-content>
