<ion-grid class="ion-no-padding ion-no-margin room-card mb-1 mt-1">
  <ion-row class="ion-no-padding ion-no-margin card-padding">
    <ion-col class="ion-no-padding ion-no-margin d-flex justify-content-start align-items-center" size="auto">
      <ion-avatar class="ion-margin-end avatar">
        <ion-img [src]="group.CarePerson.Picture"></ion-img>
      </ion-avatar>
    </ion-col>
    <ion-col class="ion-no-padding ion-no-margin d-flex justify-content-start align-items-center mr-2">
      <ion-label>
        <ion-label class="header color-black1">
          {{group.CarePerson.FirstName}} {{group.CarePerson.LastName}}
        </ion-label>
        <br>
        <ion-label class="custom-h4 color-black3">
          {{group.CarePerson.JobTitle}}
        </ion-label>
      </ion-label>
    </ion-col>
    <ion-col class="ion-no-padding ion-no-margin d-flex justify-content-start align-items-center ml-2" size="auto"
      (click)="toggleCard()">
      <ion-icon [src]="arrowDown" class="transition-duration-500" [ngClass]="{'rotated-180': showInnerBody }"></ion-icon>
    </ion-col>
  </ion-row>
  <div class="item-i" [class.opened]="showInnerBody" >
    <ion-row class="ion-no-padding ion-no-margin card-padding patient-card" *ngFor="let patientGroup of group.Content; let k = index;">
      <ion-col class="ion-no-padding ion-no-margin d-flex justify-content-start align-items-center">
        <ion-col class="ion-no-padding ion-no-margin d-flex justify-content-start align-items-center">
          <ion-label>
            <ion-label class="custom-h2 color-black1 custom-semi-bold">{{patientGroup.PatientName}}</ion-label>
            <br>
            <ion-label class="custom-h3 color-black3">{{patientGroup.RoomName}}</ion-label>
          </ion-label>
        </ion-col>
        <ion-col class="ion-no-padding ion-no-margin d-flex justify-content-start align-items-center ml-2" size="auto">
          <ion-icon #textBox class="check-box-icon" [src]="checkBoxOff" (click)="checkBoxClicked(k)"></ion-icon>
        </ion-col>
      </ion-col>
    </ion-row>
  </div>
  
</ion-grid>